{% extends "boards/base.html" %}

{% load i18n %}
{% load bootstrap3 %}


{% block main_content %}
    {% load navigator %}
    {% url "boards.views.main" as boards_url %}
    {% if form.instance.pk %}
        {% display_navigator boards_url "Boards" form.instance.get_absolute_url form.instance%}
    {% else %}
        {% display_navigator boards_url "Boards" "#" "New board" %}
    {% endif %}

    {% if form.instance.pk %}
        <h1>Edit {{ form.instance }}</h1>
    {% else %}
        <h1>Add board</h1>
    {% endif %}

    {% if form.instance.pk %}
        <p>{% trans "Note: If you want to remove this board you first have to remove all members." %}</p>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% trans "Submit" %}
            </button>
        {% endbuttons %}
    </form>
{% endblock %}
{% block sidebar %}
{% endblock %}