{% extends "boards/base.html" %}

{% load i18n %}

{% block main_content %}
    {% load navigator %}
    {% url "boards.views.main" as boards_url %}
    {% display_navigator boards_url "Boards" %}
    <h3>Boards</h3>
    <div class="list-group">
        {% for board in boards %}
            <a class="list-group-item" href="{{ board.get_absolute_url }}">{{ board }}</a>
        {% empty %}
            <p>{% trans "No boards found!" %}</p>
        {% endfor %}
    </div>
{% endblock %}
{% block sidebar %}
    {% if show_add_buttons%}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">{% trans "Add" %}</h2>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="{% url 'boards_add_board' %}">
                        <div class="btn list-group-item">{% trans "Add new board" %}</div>
                    </a>
                    <a href="{% url 'boards_add_boardtype' %}">
                        <div class="btn list-group-item">{% trans "Add new boardtype" %}</div>
                    </a>
                    <a href="{% url 'boards_add_role' %}">
                        <div class="btn list-group-item">{% trans "Add new role" %}</div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}