{% extends "boards/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load sawp %}
{% load sidemenu %}
{% load thumbnail %}

{% block main_content %}
    <h3>{% trans "Boards and Committees" %}</h3>
    <div class="list-group">
        {% for board in boards %}
            <a href="{{ board.get_absolute_url }}" class="list-group-item">
                {% if board.photo %}
                    <img  class="img-thumbnail" src="{{ board.photo|thumbnail_url:'standard' }}"/>
                {% endif %}
                {{ board }}
                <span class="badge">
                    {{ board.get_member_count }}
                </span>
            </a>
        {% empty %}
            <p>{% trans "No boards or committees found!" %}</p>
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar-panel1 %}
    {% has_perm "boards" "CAN_EDIT_BOARDS" as can_edit %}
    {% if can_edit %}
        {% sidebarpanel "vertical_buttons" %}
            {% trans "Add" %}
            {% body %}
            <a class="btn btn-primary" href="{% url 'boards_add_board' %}">
                {% trans "Add new board" %}
            </a>
            <a class="btn btn-primary" href="{% url 'boards_add_boardtype' %}">
                {% trans "Add new boardtype" %}
            </a>
            <a class="btn btn-primary" href="{% url 'boards_add_role' %}">
                {% trans "Add new role" %}
            </a>
        {% endsidebarpanel %}
    {% endif %}
{% endblock %}