{% extends "boards/base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block main_content %}
    {% load navigator %}
    {% url "boards.views.boards_main" as boards_url %}
    {% display_navigator boards_url "Boards" boardmember.get_absolute_url boardmember%}
    <h1>{{ boardmember }}</h1>
    <div class="list-group">
        {% trans "Member of the following boards:" %}
        {% for board in boards %}
            <a class="list-group-item" href="{{ board.get_absolute_url }}">{{ board }}</a>
        {% empty %}
            <p>{% trans "This member is not in any boards!" %}</p>
        {% endfor %}
    </div>
{% endblock %}
{% block sidebar %}
{% endblock %}