{% extends "boards/base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block main_content %}
    {% load navigator %}
    {% url "boards.views.boards_main" as boards_url %}
    {% display_navigator boards_url "Boards" board.get_absolute_url board%}
    <h1>{{ board }}</h1>
    <div class="list-group">

        {% for boardmember in boardmembers %}
            <a class="list-group-item" href="{{ boardmember.get_absolute_url }}">
                {{ boardmember.year }} : {{ boardmember }} TODO fix this so it looks nice
            </a>
        {% empty %}
            <p>{% trans "No members added to this board!" %}</p>
            <form action="{% url 'boards_delete_board' board.id %}" method="post">
                {% csrf_token %}
                {% buttons %}
                    <button type="submit" class="btn btn-danger" onclick="return confirm('{% trans "Are you sure?" %}')">
                        {% trans "Remove this board" %}
                    </button>
                {% endbuttons %}
            </form>
        {% endfor %}
    </div>
{% endblock %}
{% block sidebar %}
{% endblock %}