{% extends "boards/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load sawp %}
{% load thumbnail %}
{% load sidemenu %}

{% block breadcrumb2 %}
    <li class="active">
        {% trans "Viewing board member" %}
        {{ boardmember }}
    </li>
{% endblock %}

{% block main_content %}
    {% if member.user_ext %}
        <a href="{% url "users_view_profile" username=member.user_ext.user.username %}">
            <h1>{{ member.get_full_name }}</h1>
        </a>
    {% else %}
        <h1>{{ member.get_full_name }}</h1>
    {% endif %}
    <div class="list-group">
        <h5>{% trans "Member of the following boards:" %}</h5>
        {% for role_board in boards %}
            <a class="list-group-item" href="{{ role_board.board.get_absolute_url }}">
                {{ role_board.board }}, {{ role_board.role }}
            </a>
        {% empty %}
            <p>{% trans "This member is not in any boards!" %}</p>
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar-panel1 %}
    {% has_perm "boards" "CAN_EDIT_BOARDS" as can_edit %}
    {% if can_edit %}
        {% sidebarpanel "vertical_buttons" %}
            {% trans "Actions" %}
            {% body %}
        {% endsidebarpanel %}
    {% endif %}
{% endblock %}