{% extends "boards/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load sawp %}
{% load sidemenu %}
{% load thumbnail %}

{% block main_content %}
    <h3>Boards</h3>
    <div class="list-group">
        {% for board in boards %}
            <li class="list-group-item">
                {% if board.photo %}
                    <img  class="img-thumbnail" src="{{ board.photo|thumbnail_url:'standard' }}"/>
                {% endif %}
                <a href="{{ board.get_absolute_url }}">{{ board }}
                <span class="badge">
                    {{ board.get_member_count }}
                </span>
                </a>
            </li>
        {% empty %}
            <p>{% trans "No boards found!" %}</p>
        {% endfor %}
    </div>
{% endblock %}
{% block sidebar-panel1 %}
    {% has_perm "boards" "CAN_EDIT_BOARDS" as can_edit_boards %}
    {% has_perm "boards" "CAN_EDIT_ROLES" as can_edit_roles %}
    {% has_perm "boards" "CAN_EDIT_BOARDTYPES" as can_edit_boardtypes %}
    {% if can_edit_boards or can_edit_roles or can_edit_boardtypes %}
        {% sidebarpanel "vertical_buttons" %}
            {% trans "Add" %}
            {% body %}
            {% if can_edit_boards%}
                <a class="btn btn-primary" href="{% url 'boards_add_board' %}">
                    {% trans "Add new board" %}
                </a>
            {% endif %}
            {% if can_edit_boardtypes%}
                <a class="btn btn-primary" href="{% url 'boards_add_boardtype' %}">
                    {% trans "Add new boardtype" %}
                </a>
            {% endif %}
            {% if can_edit_roles%}
                <a class="btn btn-primary" href="{% url 'boards_add_role' %}">
                    {% trans "Add new role" %}
                </a>
            {% endif %}
        {% endsidebarpanel %}
    {% endif %}
{% endblock %}