{% extends "boards/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load sawp %}
{% load sidemenu %}
{% load thumbnail %}

{% block breadcrumb2 %}
    <li>
        <a href="{{ board.boardtype.get_absolute_url }}">
            {{ board.boardtype.name }}
        </a>
    </li>
{% endblock %}

{% block breadcrumb3 %}
    <li class="active">
        {{ board }}
    </li>
{% endblock %}

{% block main_content %}
    <h1>{{ board.boardtype }} {{ board.year }}</h1>
    {% if board.photo %}

        <div class="img-responsive">
            <a href="{{ board.photo.url }}"><img  class="img-thumbnail" src="{{ board.photo|thumbnail_url:'board' }}"/></a>
        </div>
    {% endif %}
    <div class="list-group">
        {% for boardmember in boardmembers %}
            <a class="list-group-item " href="{{ boardmember.get_absolute_url }}">
                <div class="row" style="padding: 0 10px 0;">

                    <div class="col-xs-6 col-md-5 col-lg-4 img-thumbnail" style="min-height: 100px;">
                        {% if boardmember.photo %}
                            <img class="img-responsive"
                                 src="{{ boardmember.photo | thumbnail_url:'standard' }}"/>
                        {% endif %}
                    </div>
                    <div class="col-xs-6 col-md-7 col-lg-8">
                        <h5>{{ boardmember.role }}</h5>
                        <h3>{{ boardmember }}</h3>
                    </div>
                </div>
            </a>
        {% empty %}
            <div class="list-group-item">
                {% trans "No members added to this board!" %}
            </div>
            <form action="{% url 'boards_delete_board' board.id %}" method="post">
                {% csrf_token %}
                {% buttons %}
                    <button type="submit" class="btn btn-danger" onclick="return confirm('{% trans "Are you sure?" %}')">
                        {% trans "Remove this board" %}
                    </button>
                {% endbuttons %}
            </form>
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar-panel1 %}
    {% has_perm "boards" "CAN_EDIT_BOARDS" as can_edit_boards %}
    {% has_perm "boards" "CAN_EDIT_ROLES" as can_edit_roles %}
    {% has_perm "boards" "CAN_EDIT_BOARDTYPES" as can_edit_boardtypes %}
    {% if can_edit_boards %}
        {% sidebarpanel "vertical_buttons" %}
            {% trans "Edit" %}
            {% body %}
            <a class="btn btn-primary" href="{% url 'boards_edit_board' board.id %}">
                {% trans "Edit this board" %}
            </a>
        {% endsidebarpanel %}
    {% endif %}
{% endblock %}

{% block sidebar-panel2 %}
    {% has_perm "boards" "CAN_EDIT_BOARDS" as can_edit_boards %}
    {% has_perm "boards" "CAN_EDIT_ROLES" as can_edit_roles %}
    {% has_perm "boards" "CAN_EDIT_BOARDTYPES" as can_edit_boardtypes %}
    {% if can_edit_boards or can_edit_boardtypes or can_edit_roles %}
        {% sidebarpanel "vertical_buttons" %}
            {% trans "Add" %}
            {% body %}
            {% if can_edit_boards%}
                <a class="btn btn-primary" href="{% url 'boards_add_boardmember' %}">
                    {% trans "Add new board member" %}
                </a>
                <a class="btn btn-primary" href="{% url 'boards_add_board' %}">
                    {% trans "Add new board" %}
                </a>
            {% endif %}
            {% if can_edit_boardtypes%}
                <a class="btn btn-primary" href="{% url 'boards_add_boardtype' %}">
                    {% trans "Add new boardtype" %}
                </a>
            {% endif %}
            {% if can_edit_roles%}
                <a class="btn btn-primary" href="{% url 'boards_add_role' %}">
                    {% trans "Add new role" %}
                </a>
            {% endif %}
        {% endsidebarpanel %}
    {% endif %}
{% endblock %}