{% extends "boards/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load sawp %}
{% load sidemenu %}
{% load cssmap %}

{% block breadcrumb2 %}
    <li>
        <a href="{{ boardtype.get_absolute_url }}">
            {{ boardtype.name }}
        </a>
    </li>
{% endblock %}

{% block main_content %}
    <h1>{{ boardtype.name }}</h1>
    <div class="list-group">

        {% for board in boards %}
            <a class="list-group-item" href="{{ board.get_absolute_url }}">
                {{ board.year }}
                <span class="badge">
                    members: {{ board.get_member_count }}
                </span>
            </a>
        {% empty %}
            <p>{% trans "No boards with this board type found!" %}</p>

        {% endfor %}
    </div>
{% endblock %}

{% block sidebar-panel1 %}
    {% has_perm "boards" "CAN_EDIT_BOARDS" as can_edit %}
    {% if can_edit %}
        {% sidebarpanel "vertical_buttons" %}
            {% trans "Actions" %}
            {% body %}
            <a class="{% get_css "sawbutton_sidebar" %}" href="{% url 'boards_add_board' %}">
                {% trans "Add new board" %}
            </a>
            <a class="{% get_css "sawbutton_sidebar" %}"  href="{% url 'boards_edit_boardtype' boardtype.id %}">
                {% trans "Edit this boardtype" %}
            </a>
            <a class="{% get_css "sawbutton_sidebar" %}" href="{% url 'boards_add_boardtype' %}">
                {% trans "Add new boardtype" %}
            </a>
            {% if boardtype.can_delete %}
                <form action="{% url 'boards_delete_boardtype' boardtype.id %}" method="post">
                    {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-block" onclick="return confirm('{% trans "Are you sure?" %}')">
                            {% trans "Remove this board type" %}
                        </button>
                </form>
            {% endif %}
        {% endsidebarpanel %}
    {% endif %}
{% endblock %}