{% extends "boards/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load sawp %}
{% load thumbnail %}
{% load cssmap %}
{% load sidemenu %}

{% block breadcrumb2 %}
    <li>
        <a href="{{ role.get_absolute_url }}">
            {{ role.name }}
        </a>
    </li>
{% endblock %}

{% block main_content %}
    <h1>{{ role.name }}</h1>
    <div class="list-group">

        {% for boardmember in boardmembers %}
            <a class="list-group-item" href="{{ boardmember.get_absolute_url }}">
                {% if boardmember.photo %}
                    <img  class="img-thumbnail" src="{{ boardmember.photo|thumbnail_url:'standard' }}"/>
                {% endif %}
                {{ boardmember.member.get_full_name }} ({{ boardmember.board}})
            </a>
            <form action="{% url 'boards_delete_role' role.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="{% get_css "sawbutton_delete" %} btn-block" onclick="return confirm('{% trans "Are you sure?" %}')">
                    {% trans "Remove this role" %}
                </button>
            </form>
            {% empty %}
            <p>{% trans "No members with this role found!" %}</p>
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar-panel1 %}
    {% sidebarpanel "vertical_buttons" %}
        {% trans "Actions" %}
        {% body %}
        <a href="{% url 'boards_edit_role' role.id %}" class="{% get_css "sawbutton_sidebar" %} btn-block">
            {% trans "Edit this role" %}
        </a>
        <a href="{% url 'boards_add_boardmember' %}" class="{% get_css "sawbutton_sidebar" %} btn-block">
            {% trans "Add new board member" %}
        </a>
        <a href="{% url 'boards_add_board' %}" class="{% get_css "sawbutton_sidebar" %} btn-block">
            {% trans "Add new board" %}
        </a>
        <a href="{% url 'boards_add_boardtype' %}" class="{% get_css "sawbutton_sidebar" %} btn-block">
            {% trans "Add new boardtype" %}
        </a>
        <a href="{% url 'boards_add_role' %}" class="{% get_css "sawbutton_sidebar" %} btn-block">
            {% trans "Add new role" %}
        </a>
    {% endsidebarpanel %}
{% endblock %}
