{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Settings" %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/settings/settings.css" %}" />
{% endblock %}

{% block content %}
    {% load dynamic_menu %}
    {% display_menu "main_menu" "Login" %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-2" id="settings-side-menu">
                    {% block settings_menu %}
                        {% display_menu "settings_menu" "" %}
                    {% endblock %}
                </div>
                <div class="col-md-10">
                    {% block inner_content %}
                        <h1>Welcome to the settings page.</h1>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}