{% extends "settings/base_full_width.html" %}
{% load i18n %}
{% load static %}
{% load cssmap %}

{% block title %}
    {% trans "Settings" %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/settings/settings.css" %}" />
{% endblock %}

{% block menu %}
    {% load dynamic_menu %}
    {% display_menu "main_menu" "Settings" %}
{% endblock %}

{% block main_content %}
    <h1>{% trans "Choose a category" %}</h1>
    <div class="row">
        {% for section in sections %}
            <div class="col-xs-6 col-sm-4">
                <a href="{{ section.get_absolute_url }}">
                    <div class="{% get_css "sawpanel_main" %}" style="min-height: 150px;">
                        <div class="panel-heading">
                            {{ section.title }}
                        </div>
                        <div class="panel-body">
                            {{ section.description }}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}