{% extends "settings/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Settings" %} - {% trans section.title %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/settings/settings.css" %}" />
{% endblock %}

{% block menu %}
    {% load dynamic_menu %}
    {% display_menu "main_menu" "Settings" %}
{% endblock %}

{% block breadcrumb2 %}
    <li class="active">{{ section.title }}</li>
{% endblock %}

{% block main_content %}
    <h1>{% trans "Choose an item!" %}</h1>
    <div class="row">
        {% for page in section.pages %}
            <div class="col-xs-6 col-sm-4">
                <a href="{{ page.url }}">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ page.title }}
                        </div>
                        <div class="panel-body">
                            {{ page.description }}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
