{% extends "settings/base.html" %}
{% load i18n %}

{% block inner_content %}
    <p>{% trans "Drag the permissions between the groups" %}</p>
    <div class="row">
        <div id="permission-description"> Description here</div>
    </div>
    <div class="row">
        {% for group in groups %}
            <div class="panel panel-default col-md-4">
                <div class="panel-heading">{{ group.name }}</div>
                <div class="panel-body">
                    <div id="group-{{ group.id }}" class="btn-group-vertical connected-sort ui-sortable permission-container">
                        {% for perm in group.permissions %}
                            <li id="permission-{{ perm.id }}" class="btn btn-primary permission ui-sortable-handle" title="{{ perm.description }}">
                                {{ perm.permission.name }}
                            </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <form id="permission-form">
            {% csrf_token %}
            <button type="submit" value="Submit" class="btn btn-primary">
                {% trans "Save" %}
            </button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script>
        // bootstrap tooltips conflict with jquery-ui sortable
        // https://github.com/twbs/bootstrap/issues/6303

        $(".permission").mouseover(function(event) {
            var description = document.getElementById("permission-description");
            description.innerHTML = event.target.getAttribute("title");
        });


        $('#permission-form').submit(function() {
            //updateHiddenFormFields();
            return true; // return false to cancel form action
        });

        function updateHiddenFormFields() {
            var old_fields = document.getElementsByClassName("permission-hidden-field");
            for (var i = 0; i < old_fields.length; i++) {
                old_fields[i].parentNode.removeChild(old_fields[i]);
            }
            var group_containers = document.getElementsByClassName("permission-container")
            for (var i = 0; i < group_containers.length; i++) {
                var permissions = group_containers[i].childNodes;
                var group_id = group_containers[i].getAttribute("id").split("-")[1];
                for (var j = 0; j < permissions.length; j++) {
                    try {
                        var permission_id = permissions[j].getAttribute("id").split("-")[1];
                        add_hidden_input(permission_id, group_id);
                    } catch(e) {
                        // ignore error because it is weird and sucks and shouldn't exist
                    }
                }
            }
        }

        function add_hidden_input(group_id, permission_id) {
            var input_field = document.createElement("input");
            input_field.setAttribute("name", permission_id);
            input_field.setAttribute("value", group_id);
            input_field.setAttribute("type", "hidden");
            input_field.setAttribute("class","permission-hidden-field");
            var form = document.getElementById("permission-form");
            form.appendChild(input_field);
        }

        $(function() {
            $( ".permission-container" ).sortable({
                connectWith: ".connected-sort"
            }).disableSelection();
        });

    </script>
{% endblock %}