{% extends "settings/base.html" %}
{% load i18n %}


{% block inner_content %}
    <p>herro, this is permission</p>
    {% for group in groups %}
        <div class="panel panel-default">
            <div class="panel-heading">{{ group.name }}</div>
            <div class="panel-body">
                <div id="permission-group-{{ group.id }}"class="btn-group-vertical connected-sort ui-sortable">
                    {% for perm in group.permissions %}
                        <li id="permission-{{ perm.id }}" class="btn btn-primary permission ui-sortable-handle">
                            {{ perm.permission.codename }}
                        </li>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}