{% extends "base/base.html" %}
{% load i18n %}
{% load setvar %}

{% block content %}
    {% load dynamic_menu %}
    {% display_menu "main_menu" "" %}
    <div class="container">
        <div class="sm-12 md-10 lg-9">
            <div class="row">
                <div class="col-sm-5 col-md-4 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <small>{% trans "User" %} </small><strong>{{ user_ext.user.username }}</strong>
                        </div>
                        <div class="panel-body">
                            <img src="{{ user_ext.avatar.url }}" width="200px" height="200px" alt="User avatar" class="center-block"/>

                            <div class="small center-block">
                                {% trans "Member since" %} {{ user_ext.user.date_joined }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 col-md-6 col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{% trans "General Information" %}</strong>
                        </div>
                        <div class="panel-body">
                            <table>
                                <tr>
                                    <td>
                                        {% trans "Real name" %}
                                    </td>
                                    <td>
                                        {{ user_ext.user.first_name }}
                                        {{ user_ext.user.last_name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Member</td>
                                    <td>
                                        {% setvar user_ext.member as member %}
                                        {% if member %}
                                            {% if member.confirmed %}
                                                <span class="glyphicon glyphicon-ok"></span>
                                            {% elif user_ext.can_apply_for_membership %}
                                                <span class="glyphicon glyphicon-question-sign" title="{% trans "Status pending" %}"></span>
                                            {% endif %}
                                        {% else %}
                                            <span class="glyphicon glyphicon-remove"></span>
                                            {% if user_ext.user == user and user_ext.email_verified %}
                                                <a href="{% url "members_apply_membership" %}">
                                                    {% trans "Apply" %}
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>

                                    {% if user_ext.user == user %}
                                        <td>{% trans "Email verified" %}</td>
                                        <td>
                                            {% if user_ext.email_verified %}
                                                <span class="glyphicon glyphicon-ok"></span>
                                            {% else %}
                                                <span class="glyphicon glyphicon-remove"></span>
                                            {% endif %}
                                        </td>

                                    {% endif %}
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{% trans "About me" %}</strong>
                        </div>
                        <div class="panel-body">
                            <p>{{ user_ext.description }}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
{% endblock %}