{% extends "gallery/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% load multiuploader %}
{% load thumbnail %}

{% block breadcrumb2 %}
    <li class="active">
        {% trans "Edit contents of " %} {{ album.name }}
    </li>
{% endblock %}

{% block main_content %}
    <h1>{% trans "Edit contents of " %}{{ album.name }}</h1>

    <div class="list-group">
        {% for picture in pictures %}
            <a href="{{ picture.image.url }}"><img class="img-thumbnail" src="{% thumbnail picture.image 100x100 crop=scale %}"/></a>
        {% empty %}
            <p>{% trans "no photos in album" %}<p/>
        {% endfor %}
    </div>

    <form action ="" method="post">
        {% csrf_token %}

        {% multiuploader_noscript form.uploadedFiles.html_name %}
    </form>
    {% multiuploader_form form_type="images" js_prefix="jQuery" send_button_selector="input[name=_edit]" wrapper_element_id="fileUploads" lock_while_uploading=True number_files_attached=forms.attached_count %}
{% endblock %}

{% block scripts %}
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    {% multiuploader_form_script form_type="images" js_prefix="jQuery" send_button_selector="input[name=_edit]" wrapper_element_id="fileUploads" lock_while_uploading=True number_files_attached=forms.attached_count album=album %}
{% endblock %}