{% extends "gallery/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load multiuploader %}
{% load static %}

{% block breadcrumb2 %}
    <li class="active">
        {% if form.instance.pk %}
            {% trans "Editing" %} {{ form.instance }}
        {% else %}
            {% trans "New Album" %}
        {% endif %}
    </li>
{% endblock %}

{% block main_content %}
    {% if form.instance.pk %}
        <h1>Edit {{ form.instance.name }}</h1>
    {% else %}
        <h2>Create album</h2>
    {% endif %}

    <form action ="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% trans "Submit" %}
            </button>
        {% endbuttons %}

        {% multiuploader_noscript form.uploadedFiles.html_name %}
    </form>


    {% multiuploader_form form_type="default" template="multiuploader/form.html" target_form_fieldname=forms.edit.uploadedFiles.html_name js_prefix="jQuery" send_button_selector="input[name=_edit]" wrapper_element_id="fileUploads" lock_while_uploading=True number_files_attached=forms.attached_count %}





















{% endblock %}

{% block scripts %}
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/tmpl.min.js" %}"></script>
    <script src="{% static "js/jquery.iframe-transport.js" %}"></script>
    <script src="{% static "js/jquery.fileupload.js" %}"></script>
    <script src="{% static "js/jquery.fileupload-ui.js" %}"></script>
    <script type="text/javascript" src="{% static "multiuploader/scripts/collectfiles.js" %}"></script>




    {% verbatim %}
    <script id="template-upload" type="text/x-jquery-tmpl">
                <tr class="template-upload{{if error}} ui-state-error{{/if}}">
                <td class="preview"></td>
                <td class="name">${name}</td>
                <td class="size">${sizef}</td>
        {{if error}}
        <td class="error" colspan="2">${translation["Error"]}:
            {{if error === 'maxFileSize'}}${translation["File is too big"]}
                {{else error === 'minFileSize'}}${translation["File is too small"]}
                {{else error === 'acceptFileTypes'}}${translation["Filetype not allowed"]}
                {{else error === 'maxNumberOfFiles'}}${translation["Max number of files exceeded"]}
                {{else}}${error}
                {{/if}}
                </td>
                    {{else}}
                <td class="progress"><div></div></td>
                    <td class="start"><button>${translation["Start"]}</button></td>
                    {{/if}}
                    <td class="cancel"><button>${translation["Cancel"]}</button></td>
                    </tr>
</script>

    <script id="template-download" type="text/x-jquery-tmpl">
            <tr class="template-download{{if error}} ui-state-error{{/if}}">
                {{if error}}
                <td></td>
                <td class="name">${name}</td>
                <td class="size">${sizef}</td>
                <td class="error" colspan="2">${translation["Error"]}:
                    {{if error === 1}}${translation["File exceeds upload_max_filesize"]}
                    {{else error === 2}}${translation["File exceeds MAX_FILE_SIZE (HTML form directive)"]}
                    {{else error === 3}}${translation["File was only partially uploaded"]}
                    {{else error === 4}}${translation["No File was uploaded"]}
                    {{else error === 5}}${translation["Missing a temporary folder"]}
                    {{else error === 6}}${translation["Failed to write file to disk"]}
                    {{else error === 7}}${translation["File upload stopped by extension"]}
                    {{else error === 'maxFileSize'}}${translation["File is too big"]}
                    {{else error === 'minFileSize'}}${translation["File is too small"]}
                    {{else error === 'acceptFileTypes'}}${translation["Filetype not allowed"]}
                    {{else error === 'maxNumberOfFiles'}}${translation["Max number of files exceeded"]}
                    {{else error === 'uploadedBytes'}}${translation["Uploaded bytes exceed file size"]}
                    {{else error === 'emptyResult'}}${translation["Empty file upload result"]}
                    {{else}}${error}
                    {{/if}}
                </td>
                {{else}}
                <td class="preview">
                    {{if thumbnail_url}}
                    <a href="${url}"><img src="${thumbnail_url}"></a>
                    {{/if}}
                </td>
                <td class="name">
                    <a id="${id}" class="filelink" href="${url}">${name}</a>
                </td>
                <td class="size">${sizef}</td>
                <td colspan="2"></td>
                {{/if}}
                <td class="delete">
                    <button data-type="${delete_type}" data-url="${delete_url}">Delete</button>
                </td>
            </tr>
        </script>
    {% endverbatim %}
    <script type="text/javascript">
        //These are not used(?) in new version of jquery.fileupload.js
        //setup_widget({{ prefix }});
        //setup_ui({{ prefix }});
    </script>

    <script type="text/javascript">
        (function ($) {
            'use strict';

            var multiuploaderSelector = '#{{ target_form_fieldname }}';

            var opts = {{ multiuploader_form.options|safe }};

            // Making new RegExp from django string
            opts['acceptFileTypes'] = new RegExp(opts['acceptFileTypes'], 'i');
            {% if number_files_attached %}
                opts['maxNumberOfFiles'] = opts['maxNumberOfFiles'] - {{ number_files_attached }};
            {% else %}
                opts['maxNumberOfFiles'] = opts['maxNumberOfFiles'];
            {% endif %}

            $(multiuploaderSelector).fileupload(opts);

            // Load existing files:
            $.getJSON($(multiuploaderSelector + ' form').prop('action'), function (files) {
                var fu = $(multiuploaderSelector).data('fileupload');
                fu._adjustMaxNumberOfFiles(-files.length);
                fu._renderDownload(files)
                        .appendTo($(multiuploaderSelector + ' .files'))
                        .fadeIn(function () {
                            // Fix for IE7 and lower:
                            $(this).show();
                        });
            });

            // Open download dialogs via iframes,
            // to prevent aborting current uploads:

            $(multiuploaderSelector + ' .files a:not([target^=_blank])').live('click', function (e) {
                e.preventDefault();
                $('<iframe style="display:none;"></iframe>')
                        .prop('src', this.href)
                        .appendTo('body');
            });

            // Making multiuploader visible
            $(multiuploaderSelector).removeAttr("style");

        })({{ prefix }});
    </script>
    <script type="text/javascript">
        setup_filecollector({{ prefix }},"{{ target_form_fieldname }}","{{ send_button_selector }}",{% if lock_while_uploading %}true{% else %}false{% endif %});
    </script>

{% endblock %}
