{% extends "gallery/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load thumbnail %}

{% block breadcrumb2 %}
    <li class="active">
        {% trans "Editing " %}
        {{ album.name }}
    </li>
{% endblock %}

{% block main_content %}
    <h1>edit an album</h1>

    <form action="{% url 'gallery.views.edit_album' album.id %}"method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% trans "Submit" %}
            </button>
        {% endbuttons %}
    </form>
{% endblock %}