{% extends "polls/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load static %}

{% block breadcrumb2 %}
    <li class="active">
        {% if form.instance.pk %}
            {% trans "Editing " %}
            {{ form.instance.name }}
        {% else %}
            {% trans "New poll" %}
        {% endif %}
    </li>
{% endblock %}

{% block main_content %}
    {% if form.instance.pk %}
        <h1>Edit {{ form.instance.name }}</h1>
    {% else %}
        <h1>Add Poll</h1>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {% bootstrap_form form %}
        <hr>
        <div id="choicesformset_all">
            {% for f in choicesformset.forms %}
                <div class="choicesformset_single">
                    {{ f.id }}
                    {% bootstrap_field f.name%}
                    {% if f.instance.pk %}{{ f.DELETE}}{% endif %}{# Note! removing this fucks with functionality #}
                </div>
            {% endfor %}
        </div>
        {{ choicesformset.management_form }}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% trans "Submit" %}
            </button>
        {% endbuttons %}
    </form>
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block scripts %}
    <script src="{% static "js/base/jquery.formset.js" %}"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script type="text/javascript">
        $(function () {
            //Set up dynamic adding of images
            $('.choicesformset_single').formset({
                prefix: '{{ choicesformset.prefix }}',
                formCssClass: 'dynamic-formasdf',
                addText: '{% trans "Add another choice" %}',
                deleteText: '{% trans "Remove choice" %}'
            });


        })
    </script>
{% endblock %}