{% extends "polls/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% load cssmap %}

{% block breadcrumb2 %}
    {% if form.instance.pk %}
        <li>
            <a href="{{ form.instance.get_absolute_url }}">
                {{ form.instance.title }}
            </a>
        </li>
    {% else %}
        <li class="active">
            {% trans "New poll" %}
        </li>
    {% endif %}
{% endblock %}


{% block breadcrumb3 %}
    {% if form.instance.pk %}
        <li class="active">
            {% trans "Editing " %}
        </li>
    {% endif %}
{% endblock %}

{% block main_content %}
    {% if form.instance.pk %}
        <h1>{% trans "Editing" %} {{ form.instance.title }}</h1>
    {% else %}
        <h1>{% trans "Add poll" %}</h1>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {% bootstrap_form form %}
        <hr>
        <div id="choicesformset_all">
            {% for f in choicesformset.forms %}
                <div class="choicesformset_single">
                    {{ f.id }}
                    {% bootstrap_field f.name%}
                    {% if f.instance.pk %}{{ f.DELETE}}{% endif %}{# Note! removing this fucks with functionality #}
                </div>
            {% endfor %}
        </div>
        {{ choicesformset.management_form }}
        {% buttons %}
            <button type="submit" class="{% get_css "sawbutton_save" %}">
                {% trans "Submit" %}
            </button>
        {% endbuttons %}
    </form>
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block scripts %}
    <script src="{% static "js/base/jquery.formset.js" %}"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script type="text/javascript">
        $(function () {
            //Set up dynamic adding of choices
            $('.choicesformset_single').formset({
                prefix: '{{ choicesformset.prefix }}',
                formCssClass: 'dynamic-formasdf',
                addText: '{% trans "Add another choice" %}',
                deleteText: '{% trans "Remove choice" %}'
            });

            //Set up datepicker
            $( "#id_expiration" ).datepicker({
                firstDay: 1,
                dateFormat: "yy-mm-dd"
            });
        })
    </script>
{% endblock %}