{% extends "polls/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load sawp %}
{% load thumbnail %}
{% load polls_templatetags %}

{% block breadcrumb1 %}
    <li class="active">
        {% trans "Polls" %}
    </li>
{% endblock %}

{% block main_content %}
    <h3></h3>



    {% for p in all_polls %}
        {% can_view_object p as poll_is_visible %}
        {% if poll_is_visible %}

            <a class="list-group-item" href="{% url 'polls_view_poll' p.id %}">
                <div class="row">


                    <div class="col-xs-8">
                        {% has_user_voted p request as show_voted_sign %}
                        {% if show_voted_sign %}
                            <span class="glyphicon glyphicon-ok">

                    </span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove">

                    </span>

                        {% endif %}
                        {{ p.name }}

                    </div>
                    <div class="col-xs-4 text-right">
                        {{ p.expiration }}
                    </div>
                </div>
            </a>

        {% endif %}
    {% empty %}
        <p>{% trans "No polls found!" %}</p>

    {% endfor %}



{% endblock %}
{% block sidebar %}
    {% has_perm "polls" "CAN_CREATE_POLLS" as can_create_polls %}
    {% if can_create_polls%}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">{% trans "Add" %}</h2>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    {% if can_create_polls%}
                        <a href="{% url 'polls_add_poll' %}">
                            <div class="btn list-group-item">{% trans "Add new poll" %}</div>
                        </a>
                    {% endif %}

                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}