{% extends "polls/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load sawp %}

{% block breadcrumb2 %}
    <li class="active">
        {{ poll.name }}
    </li>
{% endblock %}

{% block main_content %}
    <h1>{{ poll.name }}</h1>
    <ul class="list-group">



        <li class="list-group-item"> {{ poll.description | safe }}</li>

        {% if form%}





            <form action="{% url 'polls_view_poll' poll.id %}" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-danger">
                        {% trans "Make a choice" %}
                    </button>
                {% endbuttons %}
            </form>


        {% else %}
            {% for c in choices %}
                <div class="row">
                    <div class="col-xs-8">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ c.percentage }}%;">
                            {{ c.name }}
                            </div>

                        </div>

                    </div>
                    <div class="col-xs-4">
                        {{ c.count_votes }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}


        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>{% trans "Publication date: " %}{{ poll.publication }}</th>
                    <th>{% trans "Expiration date: " %}{{ poll.expiration }}</th>
                    <th>{% trans "Created by: " %}{{ poll.created_by }}</th>

                </tr>
                </tbody>
            </table>
        </div>



    </ul>
{% endblock %}
{% block sidebar %}
    {% has_perm "polls" "CAN_CREATE_POLLS" as can_edit_polls %}
    {% has_perm "polls" "CAN_CREATE_POLLS" as can_delete_polls %}
    {% if can_edit_polls%}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">{% trans "Edit" %}</h2>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    {% if can_edit_polls%}
                        <a href="{% url 'polls_edit_poll' poll.id %}">
                            <div class="btn list-group-item">{% trans "Edit poll" %}</div>
                        </a>
                    {% endif %}

                </div>
            </div>
        </div>
    {% endif %}
    {% if can_delete_polls %}
        <form action="{% url 'polls_delete_poll' poll.id %}" method="post" onclick="return confirm('{% trans "Are you sure?" %}')">
            {% csrf_token %}
            {% buttons %}
                <button type="submit" class="btn btn-danger">
                    {% trans "Remove this poll" %}
                </button>
            {% endbuttons %}
        </form>
    {% endif %}

{% endblock %}

