{% extends "pages/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load cssmap %}
{% load sidemenu %}

{% block breadcrumb2 %}
    <li class="active">
        {% if category %}
            {% trans "Editing" %} {{ category.name }}
        {% else %}
            {% trans "New Category" %}
        {% endif %}
    </li>
{% endblock %}

{% block main_content %}
    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="{% get_css "sawbutton_save" %}">
            {% trans "Save" %}
        </button>
    </form>
{% endblock %}

{% block sidebar-panel1 %}
    {% if category %}
        {% sidebarpanel "vertical_buttons" %}
            {% trans "Actions" %}
            {% body %}
            <a href="{% url "pages_delete_category" category_id=category.id %}" class="{% get_css "sawbutton_delete" %}">
                {% trans "Delete" %}
            </a>
        {% endsidebarpanel %}
    {% endif %}
{% endblock %}