{% extends "pages/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load cssmap %}
{% load sidemenu %}

{% block breadcrumb2 %}
    {% if page and page.category %}
        <li class="active">
            <a href="{{ page.category.get_absolute_url }}">
                {{ page.category }}
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block breadcrumb3 %}
    <li class="active">
        {% if page %}
            {% trans "Editing" %}
            {{ page.title }}
        {% else %}
            {% trans "New Page" %}
        {% endif %}
    </li>
{% endblock %}

{% block main_content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.media }}
        {% bootstrap_form form %}

        <button type="submit" class="{% get_css "sawbutton_save" %}">
            {% trans "Save" %}
        </button>
    </form>
{% endblock %}

{% block sidebar-panel1 %}
    {% if page %}
        {% sidebarpanel "vertical_buttons" %}
            {% trans "Actions" %}
            {% body %}
            <a href="{% url "pages_delete_page" page.id %}" class="{% get_css "sawbutton_delete" %}">
                {% trans "Delete this page" %}
            </a>
        {% endsidebarpanel %}
    {% endif %}
{% endblock %}

{% block sidebar-panel-help %}
    {% sidebarpanel "help" %}
        {% trans "Help" %}
        {% body %}
        <p>
            {% trans "The category lets you organize your pages, making it easier to navigate the site using menus and sidebars" %}
        </p>
        <p>
            {% trans "The for frontpage option lets you show the page as an item on the frontpage." %}
        </p>
    {% endsidebarpanel %}
{% endblock %}