<p>
    Your website is completely setup and fully functional, you can customize it now to suit your organization's design
    and organizational needs in just very few clicks and in no time.
</p>

<h3>Update Your Contact Details</h3>

<p>
    Users will want to contact you, so please fill in your contact details <a href="{% url "contact_home" %}">here</a>.
</p>

<h3>Look and Feel</h3>

<p>
    Your website is bundled with a number beautiful themes both for the menu and the entire visual of the site,
    click <a href="{% url "menu_settings_edit_menu_layout" %}">here</a>
    to try out the themes for the menu and <a href="{% url "base_settings_edit_theme" %}">here</a>
    to try out the various themes for the visual design of the website.
</p>

<h3>Menus and Submenus</h3>

<p>New sub-menus can be created and existing menus can be edited and/or deleted, to access this feature,
    click <a href="https://beta2.infa.fi/settings/menu/select_menu">here</a></p>

<h3>Profile Settings</h3>

<p>
    Your user profile can also be customized through the addition of picture or avatar,
    descriptions and more, click <a href="{% url "users_settings_edit_user" %}" >here</a> for this feature.
</p>