{% extends "pages/base.html" %}
{% load i18n %}
{% load sawp %}
{% load sidemenu %}
{% load cssmap %}

{% block breadcrumb %}{% endblock %}

{% block main_content %}
    {% has_perm "pages" "EDIT" as can_edit %}
    <h1>{% trans "Categories" %}</h1>
    {% if categories %}
        <div class="list-group">
            {% for category in categories %}
                {% can_view_object category as show_category %}
                {% if show_category %}
                    <a href="{{ category.get_absolute_url }}" class="list-group-item">
                        {{ category.name }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>{% trans "No categories have been created yet!" %}</p>
        {% if can_edit %}
            <p>{% trans "Use the button in the sidebar to the right to create a category. Afterwards you can create pages." %}</p>
        {% endif %}
    {% endif %}
    {% if orphans %}
        <h1>{% trans "Pages without a category" %}</h1>
        <div class="list-group">
            {% for page in orphans %}
                <a href="{{ page.get_absolute_url }}" class="list-group-item">
                    {{ page.title }}
                </a>
            {% endfor %}
        </div>
    {% endif %}
    {% if frontpage_pages %}
        <h1>{% trans "Pages for the frontpage" %}</h1>
        <div class="list-group">
            {% for page in frontpage_pages %}
                <a href="{{ page.get_absolute_url }}" class="list-group-item">
                    {{ page.title }}
                </a>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}

{% block sidebar-panel1 %}
    {% has_perm "pages" "EDIT" as can_edit %}
    {% if can_edit %}
        {% sidebarpanel "vertical_buttons" %}

            {% trans "Actions" %}
            {% body %}
            <a href="{% url "pages_new_category" %}" class="{% get_css "sawbutton_sidebar" %}">
                {% trans "Create a new category" %}
            </a>
            <a href="{% url "pages_new_page" %}" class="{% get_css "sawbutton_sidebar" %}">
                {% trans "Create a new page" %}
            </a>
        {% endsidebarpanel %}
    {% endif %}
{% endblock %}

{% block sidebar-panel-help %}
    {% has_perm "pages" "EDIT" as can_edit %}
    {% if can_edit %}
        {% sidebarpanel "help" %}
            {% trans "Help" %}
            {% body %}
            <p>{% trans "This is where you can create pages with all kinds of information for your association." %}</p>
            <p>{% trans "Custom pages can be placed in categories for easier navigation." %}</p>
            <p>
                {% trans "Custom pages can be accessed via the menu, which can be edited " %}
                <a href="{% url "menu_settings_select_menu" %}">{% trans "here" %}</a>.
            </p>
        {% endsidebarpanel %}
    {% endif %}
{% endblock %}