{% extends "pages/base.html" %}
{% load i18n %}
{% load sawp %}



{% block main_content %}
    {% has_perm "pages" "EDIT" as can_edit %}
    <h1>{% trans "Categories" %}</h1>
    {% if categories %}
        <div class="list-group">
            {% for category in categories %}
                <a href="{{ category.get_absolute_url}}" class="list-group-item">
                    {{ category.name }}
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>{% trans "No categories have been created yet!" %}</p>
        {% if can_edit %}
            <p>{% trans "Use the button in the sidebar to the right to create a category. Afterwards you can create pages." %}</p>
        {% endif %}
    {% endif %}
    {% if orphans %}
        <h1>{% trans "Pages without a category" %}</h1>
        <div class="list-group">
            {% for page in orphans %}
                <a href="{{ page.get_absolute_url}}" class="list-group-item">
                    {{ page.title }}
                </a>
            {% endfor %}
        </div>
    {% endif %}
    {% if frontpage_pages %}
        <h1>{% trans "Pages for the frontpage" %}</h1>
        <div class="list-group">
            {% for page in frontpage_pages %}
                <a href="{{ page.get_absolute_url}}" class="list-group-item">
                    {{ page.title }}
                </a>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}

{% block sidebar %}
    {% has_perm "pages" "EDIT" as can_edit %}
    {% if can_edit %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">{% trans "Actions" %}</h2>
            </div>
            <div class="panel-body">
                <div class="btn-group-vertical btn-block" >
                    <a href="{% url "pages_new_category" %}" class="btn btn-primary">
                        {% trans "Create a new category" %}
                    </a>
                    <a href="{% url "pages_new_page" %}" class="btn btn-primary">
                        {% trans "Create a new page" %}
                    </a>
                </div>
            </div>
            <div class= "panel-heading">
                <h2 class="panel-title" data-toggle="collapse" data-target="#helptext">
                    {% trans "Help" %}
                    <span class="glyphicon caret pull-right"></span>
                </h2>
            </div>
            <div id="helptext" class="panel-collapse collapse helptext-collapse">
                <div class="panel-body">
                        <p>{% trans "This is where you can create pages with custom information for your association." %}</p>
                        <p>{% trans "Custom pages are placed in categories for easier navigation." %}</p>
                        <p>{% trans "Custom page can be accessed via categories in the menu" %}</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock sidebar %}