{% extends "pages/base.html" %}
{% load i18n %}
{% load sawp %}
{% load sidemenu %}
{% load cssmap %}

{% block breadcrumb2 %}
    {% has_perm "pages" "EDIT" as can_edit %}
    {% if can_edit %}
        <li class="active">
            {{ category.name }}
        </li>
    {% endif %}
{% endblock %}

{% block main_content %}
    <h1>{{ category.name }}</h1>
    {% if category.pages %}
        <div class="list-group">
            {% for page in category.pages %}
                {% can_view_object page as show_page %}
                {% if show_page %}
                    <a class="list-group-item" href="{{ page.get_absolute_url}}">
                        {{ page.title }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>{% trans "This category is empty" %}</p>
    {% endif %}
{% endblock main_content %}

{% block sidebar-panel1 %}
    {% has_perm "pages" "EDIT" as show_edit_buttons %}
    {% if show_edit_buttons %}
        {% sidebarpanel "vertical_buttons" %}
            {% trans "Actions" %}
            {% body %}
            <a class="{% get_css "sawbutton_sidebar" %}" href="{% url "pages_new_page" category_id=category.id %}">
                {% trans "Create a new page" %}
            </a>
            <a class="{% get_css "sawbutton_sidebar" %}" href="{% url "pages_edit_category" category.id %}">
                {% trans "Edit this category" %}
            </a>
        {% endsidebarpanel %}

    {% endif %}
{% endblock %}

{% block sidebar-panel-help %}

    {% sidebarpanel "help" %}
        {% trans "Help" %}
        {% body %}
        <p>{% trans "Click on a page to view it." %}</p>
        {% has_perm "pages" "EDIT" as show_edit_buttons %}
        {% if show_edit_buttons %}
            <p>{% trans "You can add additional pages or change the name and visibility of this category in the menu above" %}.</p>
            <p>{% trans "To delete or edit a page, click on it" %}.</p>
        {% endif %}

    {% endsidebarpanel %}
{% endblock %}