{% extends "settings/base.html" %}
{% load sawpanels %}
{% load sidemenu %}
{% load i18n %}
{% load cssmap %}
{% load bootstrap3 %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/base/codemirror.css"%}">
{% endblock %}

{% block title %}
    {% trans "View CSS Override Files" %}
{% endblock %}

{% block breadcrumb2 %}
    <li><a href="{{ section.get_absolute_url }}">
        {% trans section.title %}
    </a></li>
{% endblock %}

{% block breadcrumb3 %}
    <li class="active">
        <a href="{% url "base_settings_view_css_overrides" %}">
            {% trans "CSS Override Files" %}
        </a>
    </li>
{% endblock %}

{% block breadcrumb4 %}
    <li class="active">
        {% if file %}
            {% trans "Editing" %}
            {{ file.name }}
        {% else %}
            {% trans "New file" %}
        {% endif %}
    </li>
{% endblock %}

{% block main_content %}
    <form method="post" id="form"
          {% if file %}
              action="{% url "base_settings_save_css_override" file_id=file.id %}"
          {% else %}
              action="{% url "base_settings_save_css_override"%}"
          {% endif %}
            >
        {% csrf_token %}
        {% bootstrap_form file_form %}
        {% bootstrap_form content_form %}
    </form>

{% endblock %}


{% block sidebar-panel1 %}
    {% sidebarpanel "vertical_buttons" %}
        {% trans "Actions" %}
        {% body %}
        <div class="{% get_css "sawbutton_primary" %}" id="save_button">
            {% trans "Save and use" %}
        </div>
        {% if content %}
            <a href="{% url "base_settings_new_css_override" copy_id=content.id%}" class="{% get_css "sawbutton_primary" %}">
                {% trans "Copy file" %}
            </a>
        {% endif %}
    {% endsidebarpanel %}
{% endblock %}

{% block sidebar-panel-help %}
    {% sidebarpanel "help" %}
        {% trans "Help" %}
        {% body %}
        <p>
            {% trans "Click a file to view/edit it" %}.
            {% trans "The file currently in use is highlighted" %}.
        </p>
    {% endsidebarpanel %}
{% endblock %}

{% block scripts %}
    <script src="{% static "js/base/codemirror-css-compressed.js" %}"></script>
    <script>
        var myTextArea = document.getElementById("id_css");
        var myCodeMirror = CodeMirror.fromTextArea(myTextArea);
        $(".CodeMirror").addClass("form-control");

        $("#save_button").click(function (event) {
            $("#form").submit();
        });
    </script>
{% endblock %}