{% extends "settings/base.html" %}
{% load i18n %}
{% load sawpanels %}
{% load sidemenu %}
{% load cssmap %}

{% block breadcrumb2 %}
    <li><a href="{{ section.get_absolute_url }}">
        {% trans section.title %}
    </a></li>
{% endblock %}

{% block breadcrumb3 %}
    <li class="active">
        {% trans "Theme Editor" %}
    </li>
{% endblock %}

{% block main_content %}
    <p>{% trans "These themes are provided by " %}<a href="https://bootswatch.com/">Bootswatch</a>.</p>
    <div class="row">
        {% for theme in themes %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                {% sawpanel "primary" %}
                    {{ theme.name }}
                    {% body %}
                    <a href="{{ theme.preview_url }}" target="_blank">
                        <img src="{{ theme.preview_image_url }}" class="img-responsive" />
                    </a>
                    {% footer %}

                    <form action="{% url "base_settings_set_bootswatch_theme" %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="theme" value="{{ theme.name }}" />
                        <button type="submit" value="Submit" class="{% get_css "sawbutton_main" %}">
                            {% trans "Use this theme" %}
                        </button>
                    </form>
                {% endsawpanel %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar-panel1 %}
    {% sidebarpanel "vertical_buttons" %}
        {% trans "Actions" %}
        {% body %}
        <form action="{% url "base_settings_set_default_theme" %}" method="post">
            {% csrf_token %}
            <button type="submit" value="Submit" class="{% get_css "sawbutton_sidebar" %} btn-block">
                {% trans "Set default theme" %}
            </button>
        </form>
    {% endsidebarpanel %}
{% endblock %}

{% block sidebar-panel-help %}
    {% sidebarpanel "help" %}
        {% trans "Help" %}
    {% body %}
        <p>{% trans "Pick a theme. It can later be modified using a css override file." %}</p>
        <p>
            {% trans "If nothing is visible, Bootswatch might be having issues." %}
            {% trans "You can then save the day by reverting to the default theme using the button above." %}
        </p>
    {% endsidebarpanel %}
{% endblock %}