{% extends "settings/base.html" %}
{% load sawpanels %}
{% load sidemenu %}
{% load i18n %}
{% load cssmap %}



{% block title %}
    {% trans "View CSS Override Files" %}
{% endblock %}

{% block breadcrumb2 %}
    <li><a href="{{ section.get_absolute_url }}">
        {% trans section.title %}
    </a></li>
{% endblock %}

{% block breadcrumb3 %}
    <li class="active">
        {% trans "CSS Override Files" %}
    </li>
{% endblock %}

{% block main_content %}
    {% if files %}
        <div class="list-group">
            {% for file in files %}
                <a class="list-group-item {% if file.pk == current_override.file.pk %}active{% endif %}"
                   href="{{ file.get_absolute_url }}">

                    <h3> {{ file.name }}</h3>
                    <p>{{ file.description }}</p>

                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>{% trans "No CSS files have been created yet!" %}</p>
    {% endif %}

{% endblock %}


{% block sidebar-panel1 %}
    {% sidebarpanel "vertical_buttons" %}
        {% trans "Actions" %}
        {% body %}
        <a href="{% url "base_settings_new_css_override" %}" class="{% get_css "sawbutton_primary" %}">
            {% trans "Create new file" %}
        </a>
    {% endsidebarpanel %}
{% endblock %}

{% block sidebar-panel-help %}
    {% sidebarpanel "help" %}
        {% trans "Help" %}
        {% body %}
        <p>
            {% trans "Click a file to view/edit it" %}.
            {% trans "The file currently in use is highlighted" %}.
        </p>
    {% endsidebarpanel %}
{% endblock %}
