{% extends "settings/base.html" %}
{% load sawpanels %}
{% load sidemenu %}
{% load i18n %}
{% load cssmap %}



{% block title %}
    {% trans "View and Edit CSS Classes" %}
{% endblock %}

{% block breadcrumb2 %}
    <li><a href="{{ section.get_absolute_url }}">
        {% trans section.title %}
    </a></li>
{% endblock %}

{% block breadcrumb3 %}
    <li class="active">
        {% trans "Component Classes" %}
    </li>
{% endblock %}

{% block main_content %}
    {% if changed_classes %}
        <h2>{% trans "Components with updated defaults" %}</h2>
        <div class="list-group">
            {% for class in changed_classes %}
                <div class="list-group-item" id="edit-component-{{ class.id }}">
                    {% if class.default|slice:":4" == "btn " %}
                        <div class="{{ class.value }}">{% trans class.description %}</div>
                        {% elif class.default|slice:":6" == "panel " %}
                        <div class="{{ class.value }}">
                            <div class="panel-heading">{% trans class.description %}</div>
                        </div>
                    {% else %}
                        <p class="component-description">{% trans class.description %}</p>
                    {% endif %}
                    <input type="text" class="form-control component-value"
                           id="component-input-{{ class.id }}"
                           name="component-{{ class.id }}" value="{{ class.value }}"
                           pattern="[a-zA-Z0-9\- ]*"
                           data-changed="false"
                           maxlength="250"/>
                    <div class="component-default-value-holder" id="component-default-value-holder-{{ class.id }}">
                        <div class="btn-group">
                            <div class="mark-as-changed-button {% get_css "sawbutton_main" %}" id="mark-as-changed-button-{{ class.id }}">
                                {% trans "Mark as validated" %}
                            </div>
                            <div class="{% get_css "sawbutton_secondary"  %} component-reset-button" id="component-reset-button-{{ class.id }}">
                                {% trans "Reset to default" %}:
                            </div>
                        </div>
                        <span id="component-default-value-{{ class.id }}" class="component-default-value">
                            {{ class.default }}
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if classes %}

        <h2>{% trans "Components" %}</h2>
        <div class="list-group">
            {% for class in classes %}
                <div class="list-group-item" id="edit-component-{{ class.id }}">

                    {% if class.default|slice:":4" == "btn " %}
                        <div class="{{ class.value }}" id="preview-{{ class.id }}">{% trans class.description %}</div>
                        {% elif class.default|slice:":6" == "panel " %}
                        <div class="{{ class.value }}" id="preview-{{ class.id }}">
                            <div class="panel-heading">{% trans class.description %}</div>
                        </div>
                    {% else %}
                        <p class="component-description" id="preview-{{ class.id }}">{% trans class.description %}</p>
                    {% endif %}
                    <input type="text" class="form-control component-value"
                           id="component-input-{{ class.id }}"
                           name="component-{{ class.id }}" value="{{ class.value }}"
                           pattern="[a-zA-Z0-9\- ]*"
                           data-changed="false"
                           maxlength="250"/>
                    <div class="{% if class.value == class.default %}invisible{% endif %} component-default-value-holder"
                         id="component-default-value-holder-{{ class.id }}">
                        <div class="{% get_css "sawbutton_secondary"  %} component-reset-button" id="component-reset-button-{{ class.id }}">
                            {% trans "Reset to default" %}:
                        </div>
                        <span id="component-default-value-{{ class.id }}" class="component-default-value">
                            {{ class.default }}
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="hide">

        <form method="post" action="" id="component-form">
            {% csrf_token %}

        </form>
    </div>

{% endblock %}

{% block sidebar-panel1 %}
    {% sidebarpanel %}
        {% trans "Save" %}
        {% body %}
        <div id="save-button" class="{% get_css "sawbutton_save" %} btn-block">
            {% trans "Save" %}
        </div>

    {% endsidebarpanel %}
{% endblock %}

{% block sidebar-panel-help %}
    {% sidebarpanel "help" %}
        {% trans "Help" %}
        {% body %}
        <p>
            {% trans "This page lets you change what css classes are used for what components on the site" %}.
        </p>
        <p>
            {% trans "Once you change something, the default value will also be shown" %}.
            {% trans "If a default has changed during an update, you will be asked to verify if you still want to keep your change" %}.
        </p>
    {% endsidebarpanel %}
{% endblock %}

{% block scripts %}
    <script>
        $(".mark-as-changed-button").click(function() {
            $(this).addClass("hide");
            var id = this.id.split("-")[4];
            var input_id = "#component-input-" + id;
            $(input_id).attr("data-changed", "true");
        });

        $(".component-value").change(function() {

            var id = this.id.split("-")[2];
            $(this).attr("data-changed", "true");

            $(this).val($(this).val().trim());
            var default_id = "#component-default-value-" + id;
            var default_holder_id = "#component-default-value-holder-" + id;
            var default_element = $(default_id);
            var default_value = default_element.html().trim();
            if ($(this).val() == default_value) {
                $(default_holder_id).addClass("invisible");
            } else {
                $(default_holder_id).removeClass("invisible");
            }

            $("#preview-" + id).attr("class", $(this).val());
        });

        $(".component-reset-button").click(function() {
            var id = this.id.split("-")[3];
            var default_id = "#component-default-value-" + id;
            var input_id = "#component-input-" + id;
            $(input_id).val($(default_id).html().trim()).change();
        });

        $("#save-button").click(function() {
            // copy input to the form
            $("input[data-changed=true]").each( function(index, element) {
                $("#component-form").append(
                        $("<input />")
                                .attr("name", $(this).attr("name"))
                                .val($(this).val())
                )
            });
            // submit
            $("#component-form").submit();
        });


    </script>
{% endblock %}