{% extends "base/base.html" %}
{% load i18n %}
{% load sidemenu %}

{% block breadcrumb1 %}
    <li class="active">
        <a href="{% url "settings_main" %}">
            {% trans "Settings" %}
        </a>
    </li>
{% endblock %}

{% block breadcrumb2 %}
    <li class="active"><a href="{{ section.get_absolute_url }}">
        {% trans section.title %}
    </a></li>
{% endblock %}

{% block breadcrumb3 %}
    {% if form %}
        {% if group %}
            <li class="active">{% trans "Editing" %} {{ group.name }}</li>
        {% else %}
            <li class="active">{% trans "New Group" %} </li>
        {% endif %}
    {% else %}
        <li class="active">{% trans "Edit groups" %} </li>
    {% endif %}
{% endblock %}

{% block main_content %}
    {% if form %}
        {% if group %}
        {% else %}
        {% endif %}
    {% else %}
        <p>{% trans "Select a group in the panel to the right, or create a new one." %}</p>
    {% endif %}
    {% if group %}
        <h3>{% trans "Members" %}</h3>
        {% with group.user_set.all as users %}
            {% if users.exists %}
                <div class="list-group">
                    {% for user in users %}
                        <div class="list-group-item">
                            {{ user.full_name }} ( {{ user.username }} )
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>{% trans "This group is empty" %}!</p>
            {% endif %}
        {% endwith %}
    {% endif %}
    {% if form %}
        <form method="post" action="">
            {% csrf_token %}
            {{ form }}
            <button type="submit" value="Submit" class="btn btn-primary">
                {% trans "Save" %}
            </button>
        </form>
    {% endif %}
{% endblock %}

{% block sidebar-panel1 %}
    {% sidebarpanel "vertical_buttons" %}
        {% trans "Actions" %}
        {% body %}
        <a class="btn btn-primary" href="{% url "users_settings_new_group" %}">
            {% trans "New group" %}
        </a>
    {% endsidebarpanel %}
{% endblock %}

{% block sidebar-panel2 %}
    {% sidebarpanel %}
        {% trans "Custom Groups" %}
        {% body %}
        {% for grp in groups %}
            <div class="btn-group-vertical btn-block">
                <a class="btn btn-primary" href="{% url "users_settings_edit_group" group_id=grp.id %}">
                    {{ grp.name }}
                </a>
            </div>
        {% empty %}
            <p>{% trans "No custom groups found!" %}</p>
        {% endfor %}
    {% endsidebarpanel %}
{% endblock %}