{% extends "base/base.html" %}
{% load i18n %}
{% load sidemenu %}

{% block breadcrumb1 %}
    <li class="active">
        <a href="{% url "settings_main" %}">
            {% trans "Settings" %}
        </a>
    </li>
{% endblock %}

{% block breadcrumb2 %}
    <li class="active">
        <a href="{{ section.get_absolute_url }}">
            {% trans section.title %}
        </a>
    </li>
{% endblock %}

{% block breadcrumb3 %}
    <li class="active">{% trans "Permission Settings" %}</li>
{% endblock %}

{% block main_content %}
    <p>{% trans "Drag the permissions between the groups" %}</p>
    <p id="form-errors">
        {% load bootstrap3 %}
        {% bootstrap_form_errors form %}
    </p>
    <div class="row">
        {% for group_name, data in form.cleaned_items.items %}
            {% with group=data.0 perms=data.1 %}
                <div class="col-sm-6 col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">
                                {{ group.name }}
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="{{ group_name }}-container" class="connected-sort ui-sortable item-container"
                                 style="min-width:100%; min-height:100px;">
                                {% for perm_and_id in perms %}
                                    <li id="{{ perm_and_id.id }}"
                                        class="btn btn-primary sort-item ui-sortable-handle module-{{ perm_and_id.item.module }}"
                                        title="{{ perm_and_id.item.description }}">
                                        {{ perm_and_id.item.permission.name }}
                                    </li>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        {% trans "Permissions without groups" %}
                    </div>
                </div>
                <div class="panel-body">
                    <div id="available-container" class="connected-sort ui-sortable item-container"
                         style="min-width:100%; min-height:100px;">
                        {% for perm_and_id in form.available_items %}
                            <li id="{{ perm_and_id.id }}"
                                class="btn btn-primary sort-item ui-sortable-handle module-{{ perm_and_id.item.module }}"
                                title="{{ perm_and_id.item.description }}">
                                {{ perm_and_id.item.permission.name }}
                            </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar-panel1 %}
    {% sidebarpanel %}
        {% trans "Actions"%}
        {% body %}
        <form id="{{ form.get_form_id }}" action="{% url "users_settings_edit_permissions" %}"
              method="post" onsubmit="{{ form.get_submit_js }}">
            {% csrf_token %}
            {{ form.render_javascript }}
            <div class="btn-group-vertical btn-block">
                <button type="submit" class="btn btn-primary">
                    {% trans "Save" %}
                </button>

            </div>
        </form>
        <div class="btn-group-vertical btn-block" style="margin-top: 10px;">
            <a href="" class="btn btn-warning">
                {% trans "Reset all permissions" %}
            </a>
        </div>
    {% endsidebarpanel %}
{% endblock %}

{% block sidebar-panel2 %}
    {% sidebarpanel "vertical_buttons"%}
        {% trans "Show from modules"%}
        {% body %}
        <div class="panel-body" style="padding-top: 0px; padding-bottom: 0px;">
            <div class="row">
                {% for module in modules %}
                    <div class="btn btn-primary btn-small col-xs-6 active"
                         data-toggle="hide" data-target="module-{{ module }}">
                        {{ module }}
                    </div>
                {% endfor %}
                <div class="btn btn-info btn-small col-xs-6"
                     id="hide_all_button">
                    {% trans "Hide all" %}
                </div>
                <div class="btn btn-info btn-small col-xs-6"
                     id="show_all_button">
                    {% trans "Show all" %}
                </div>
            </div>
        </div>
    {% endsidebarpanel %}
{% endblock %}
{% block sidebar-panel3 %}
    {% sidebarpanel %}
        {% trans "Description"%}
        {% body %}
        <p id="permission-description"> {% trans "Hover over a permission for further details" %}</p>
    {% endsidebarpanel %}
{% endblock %}



{% block sidebar-panel-help %}
    {% sidebarpanel "help"%}
        {% trans "Help"%}
        {% body %}
        <p>
            {% trans "You can see what permissions are in which group" %}.
            {% trans "Use the menu above to more easily find the permissions you're looking for" %}.
            {% trans "Drag and drop the permissions to change them" %}.
        </p>
    {% endsidebarpanel %}
{% endblock %}

{% block scripts %}
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script>

        $("#hide_all_button").click(function(event) {
            var button = event.target;
            $(".sort-item").addClass("hidden");
            $("div[data-toggle=hide]").removeClass("active");
        });

        $("#show_all_button").click(function(event) {
            var button = event.target;
            $(".sort-item").removeClass("hidden");
            $("div[data-toggle=hide]").addClass("active");
        });

        // bootstrap tooltips conflict with jquery-ui sortable
        // https://github.com/twbs/bootstrap/issues/6303

        $(".sort-item").mouseover(function(event) {
            var description = document.getElementById("permission-description");
            description.innerHTML = event.target.getAttribute("title");
        });

        $(function() {
            $( ".item-container" ).sortable({
                connectWith: ".connected-sort"
            }).disableSelection();
        });

    </script>
{% endblock %}