{% extends "base/base.html" %}
{% load i18n %}
{% load sidemenu %}

{% block breadcrumb1 %}
    <li class="active">
        <a href="{% url "settings_main" %}">
            {% trans "Settings" %}
        </a>
    </li>
{% endblock %}

{% block breadcrumb2 %}
    <li class="active">
        <a href="{{ section.get_absolute_url }}">
            {% trans section.title %}
        </a>
    </li>
{% endblock %}

{% block breadcrumb3 %}
    <li class="active">{% trans "Permission Settings" %}</li>
{% endblock %}

{% block main_content %}
    <p>{% trans "Drag the permissions between the groups" %}</p>
    <div id="permission-description"> Description here</div>
    <form id="permission-form">
        {% csrf_token %}
        <button type="submit" value="Submit" class="btn btn-primary">
            {% trans "Save" %}
        </button>
    </form>
    <div class="row">
        {% for group in groups %}
            <div class="col-sm-6 col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            {{ group.name }}
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="group-{{ group.id }}" class="connected-sort ui-sortable permission-container"
                             style="min-width:100%; min-height:100px;">
                            {% for perm in group.permissions %}
                                <li id="permission-{{ perm.id }}" class="btn btn-primary permission ui-sortable-handle module-{{ perm.module }}" title="{{ perm.description }}">
                                    {{ perm.permission.name }}
                                </li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar-panel1 %}
    {% sidebarpanel %}
        {% trans "Actions"%}
        {% body %}
        <form action="" method="post">
            <div class="btn-group-vertical btn-block">
                <div type="submit" class="btn btn-primary">
                    {% trans "Save" %}
                </div>

            </div>
        </form>
        <div class="btn-group-vertical btn-block" style="margin-top: 10px;">
            <a href="" class="btn btn-warning">
                {% trans "Reset all permissions" %}
            </a>
        </div>
    {% endsidebarpanel %}
{% endblock %}

{% block sidebar-panel2 %}
    {% sidebarpanel "vertical_buttons"%}
        {% trans "Show from modules"%}
        {% body %}
        <div class="panel-body" style="padding-top: 0px; padding-bottom: 0px;">
            <div class="row">
                {% for module in modules %}
                    <div class="btn btn-primary btn-small col-xs-6"
                         data-toggle="hide" data-target="module-{{ module }}">
                        {{ module }}
                    </div>
                {% endfor %}
                <div class="btn btn-info btn-small col-xs-6"
                     id="hide_all_button">
                    {% trans "Hide all" %}
                </div>
                <div class="btn btn-info btn-small col-xs-6"
                     id="show_all_button">
                    {% trans "Show all" %}
                </div>
            </div>
        </div>
    {% endsidebarpanel %}
{% endblock %}

{% block sidebar-panel-help %}
    {% sidebarpanel "help"%}
        {% trans "Help"%}
        {% body %}
        <p>
            {% trans "You can see what permissions are in which group" %}.
            {% trans "Use the menu above to more easily find the permissions you're looking for" %}.
            {% trans "Drag and drop the permissions to change them" %}.
        </p>
    {% endsidebarpanel %}
{% endblock %}

{% block scripts %}
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script>

        $("#hide_all_button").click(function(event) {
            var button = event.target;
            $(".permission").addClass("hidden");
            $("div[data-toggle=hide]").removeClass("active");
        });

        $("#show_all_button").click(function(event) {
            var button = event.target;
            $(".permission").removeClass("hidden");
            $("div[data-toggle=hide]").addClass("active");
        });

        // bootstrap tooltips conflict with jquery-ui sortable
        // https://github.com/twbs/bootstrap/issues/6303

        $(".permission").mouseover(function(event) {
            var description = document.getElementById("permission-description");
            description.innerHTML = event.target.getAttribute("title");
        });


        $('#permission-form').submit(function() {
            //updateHiddenFormFields();
            return true; // return false to cancel form action
        });

        function updateHiddenFormFields() {
            var old_fields = document.getElementsByClassName("permission-hidden-field");
            for (var i = 0; i < old_fields.length; i++) {
                old_fields[i].parentNode.removeChild(old_fields[i]);
            }
            var group_containers = document.getElementsByClassName("permission-container")
            for (var i = 0; i < group_containers.length; i++) {
                var permissions = group_containers[i].childNodes;
                var group_id = group_containers[i].getAttribute("id").split("-")[1];
                for (var j = 0; j < permissions.length; j++) {
                    try {
                        var permission_id = permissions[j].getAttribute("id").split("-")[1];
                        add_hidden_input(permission_id, group_id);
                    } catch(e) {
                        // ignore error because it is weird and sucks and shouldn't exist
                    }
                }
            }
        }

        function add_hidden_input(group_id, permission_id) {
            var input_field = document.createElement("input");
            input_field.setAttribute("name", permission_id);
            input_field.setAttribute("value", group_id);
            input_field.setAttribute("type", "hidden");
            input_field.setAttribute("class","permission-hidden-field");
            var form = document.getElementById("permission-form");
            form.appendChild(input_field);
        }

        $(function() {
            $( ".permission-container" ).sortable({
                connectWith: ".connected-sort"
            }).disableSelection();
        });

    </script>
{% endblock %}