{% extends "base/base.html" %}
{% load i18n %}
{% load sawp %}

{% block title %}
    StudAssWeb Frontpage!
{% endblock %}

{% block menu %}
    {% load dynamic_menu %}
    {% display_menu "main_menu" "Home" %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block main_content %}
    <h1>{% trans "Welcome!" %}</h1>
    <p>{% trans "This site is under heavy development. Don't worry if it's hard to understand right now, it will get better!" %}</p>
    {% for item in main_items %}
        <div id="item_{{ item.id }}" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    {{ item.title }}
                </div>
            </div>
            <div class="panel-body">
                {{ item.content }}
            </div>
            {% if edit_mode %}
                <div class="panel-footer">
                    <form method="post"
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {% for item in side_items %}
        <div id="item_{{ item.id }}" class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    {{ item.title }}
                </div>
            </div>
            <div class="panel-body">
                {{ item.content }}
            </div>
        </div>
    {% endfor %}
    {% has_perm "frontpage" "CAN_EDIT_FRONTPAGE" as show_edit_buttons %}
    {% if show_edit_buttons %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    {% trans "Actions" %}
                </div>
            </div>
            <div class="panel-body">
                <div class="btn-group-vertical btn-block">
                    {% if edit_mode %}
                        <a class="btn btn-primary"
                           href="{% url "frontpage_home" %}">
                            {% trans "Back to frontpage" %}
                        </a>
                    {% else %}
                        <a class="btn btn-primary"
                           href="{% url "frontpage_edit" %}">
                            {% trans "Enter edit mode" %}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {% if edit_mode %}
    {% endif %}
{% endblock %}