{% load i18n multiuploader staticfiles  %}

<div id="{{ wrapper_element_id }}" style="border: 1px red solid">
    THE FILE UPLOAD SHIT SHOULD BE HERE BUT IT ISN'T LOL
    <form action="{% url 'multiuploader' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% block widget %}
        {% form_type type %}
        <meta charset="utf-8">
        {% block jQueryUI_css %}
        <link rel="stylesheet" href="{% static "multiuploader/styles/jquery-ui.css" %}" id="theme">
        {% endblock %}
        <link rel="stylesheet" href="{% static "multiuploader/styles/jquery.fileupload-ui.css" %}">

        <div id="{{ target_form_fieldname }}" style="display:none;">
            <div class="fileupload-buttonbar">
                <label class="fileinput-button">
                    <span>{% trans "Append files" %}</span>
                    <!--<input id="id_file" type="file" name="file" multiple>-->
                    {{ multiuploader_form.file }}
                </label>
                <button type="button" class="delete">{% trans "Delete files" %}</button>
            </div>

            <div class="fileupload-content">
                <table class="files"></table>
                <div class="fileupload-progressbar"></div>
                <div id="help">
                    <h2>
                        <p>{% trans "You can choose multiple files at once, by holding Ctrl or Cmd (on Mac) button, or just Drag'n'drop files here."%}</p>
                    </h2>
                </div>
            </div>
        </div>
        {% endblock %}
    </form>
</div> 	
