body {
  padding-top: 51px;
}

#content {
  padding: 40px 15px;
  text-align: center;
}

#footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.saw-navigator {
    float:left;
}

.saw-navigator-item {
}

.saw-navigator-separator {
    margin-left: 10px;
    margin-right: 10px;
}

.menu-item-container {
    min-height: 40px;
    min-width: 200px;
    border: 1px solid;
    padding: 5px;
    border-color: grey;
}