{% extends "contact/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load cssmap %}
{% load sidemenu %}

{% block breadcrumb2 %}
    {% if contact %}
        <li class="active">{% trans "Editing" %} {{ contact.name }}</li>
    {% else %}
        <li class="active">{% trans "New contact" %}</li>
    {% endif %}
{% endblock %}

{% block main_content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        {% buttons %}
            <button type="submit" class="{% get_css "sawbutton_main" %}">
                {% trans "Save" %}
            </button>
        {% endbuttons %}
    </form>
{% endblock %}

{% block sidebar-panel1 %}
    {% if contact %}
        {% sidebarpanel "vertical_buttons" %}
            {% trans "Actions" %}
            {% body %}
            <a class="{% get_css "sawbutton_delete" %}btn-block" href="{% url "contact_delete" contact_id=contact.id %}">
                {% trans "Delete" %}
            </a>
        {% endsidebarpanel %}
    {% endif %}
{% endblock %}