{% extends "contact/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load sawp %}

{% block breadcrumb1 %}
    <li class="active">
        {% trans "Contact" %}
    </li>
{% endblock %}

{% block main_content %}
    {% if contacts %}
        {% for contact in contacts %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row inherit-padding-left-right">
                        <div class="pull-left inherit-padding-left-right">
                            <h4>
                                {{ contact.name }}
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    {{ contact.info_text | safe }}
                    <div class="pull-right text-right">
                        <a href="{% url "contact_view_messages" contact_id=contact.id %}" class="btn btn-primary">
                            {% trans "View Messages" %}
                        </a>
                    </div>
                    {% if contact.has_recipients %}
                        <div class="pull-right text-right">
                            <a href="{% url "contact_write_message" contact_id=contact.id %}" class="btn btn-primary">
                                {% trans "Send message" %}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>{% trans "No contacts have been added!" %}</h2>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% has_perm "contact" "CAN_USE_CONTACT_FORM" as can_use_contact_form %}
    {% has_perm "contact" "CAN_EDIT_CONTACT_SETTINGS" as can_edit_contact_settings %}
    <div class="panel panel-primary">
        {% if can_edit_contact_settings %}
            <div class="panel-heading">
                <h2 class="panel-title">{% trans "Settings" %}</h2>
            </div>
            <div class="panel-body">
                <a href="{% url 'contact_settings_list_contacts' %}" class="btn btn-primary btn-block">
                    {% trans "Go to the settings page" %}
                </a>
            </div>
        {% endif %}
        <div class="panel-heading">
            <h2 class="panel-title" data-toggle="collapse" data-target="#helptext">
                {% trans "Help" %}
                <span class="glyphicon caret pull-right"></span>
            </h2>
        </div>
        <div id="helptext" class="panel-collapse collapse helptext-collapse">
            <div class="panel-body">
                <p>
                    {% if can_use_contact_form %}
                        {% trans "Select who you want to contact!" %}
                    {% else %}
                        {% trans "You do not have permission to use the built-in messaging system." %}
                    {% endif %}
                </p>
                {% load feedback %}
                {% helptext_feedback %}
            </div>
        </div>
    </div>
{% endblock %}