{% extends "contact/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load sawp %}
{% load cssmap %}
{% load sidemenu %}

{% block breadcrumb1 %}
    <li class="active">
        {% trans "Contact" %}
    </li>
{% endblock %}

{% block main_content %}
    {% if contacts %}
        {% for contact in contacts %}
            <div class="{% get_css "sawpanel_main" %}">
                <div class="panel-heading">
                    <div class="row inherit-padding-left-right">
                        <div class="pull-left inherit-padding-left-right">
                            <h4>
                                {{ contact.name }}
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    {{ contact.info_text | safe }}
                </div>
                <div class="panel-body">
                    <div class="pull-right text-right">
                        {% has_perm "contact" "CAN_EDIT_CONTACT_SETTINGS" as can_edit_contacts %}
                        {% if contact.messages.count > 0 and can_edit_contacts %}
                            {% with contact.unread_messages as unread_messages %}
                                <a href="{% url "contact_view_messages" contact_id=contact.id %}" class="{% get_css "sawbutton_main" %}">
                                    {% trans "View Messages" %}
                                    {% if unread_messages.count > 0 %}
                                        <span class="badge">{{ unread_messages.count }}</span>
                                    {% endif %}
                                </a>
                            {% endwith %}
                        {% endif %}

                        {% if can_edit_contacts %}
                            <a href="{% url "contact_edit" contact_id=contact.id %}" class="{% get_css "sawbutton_main" %}">
                                {% trans "Edit" %}
                            </a>
                        {% endif %}
                        {% if contact.has_recipients %}
                            <a href="{% url "contact_write_message" contact_id=contact.id %}" class="{% get_css "sawbutton_main" %}">
                                {% trans "Send message" %}
                            </a>
                        {% endif %}
                    </div>

                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>{% trans "No contacts have been added!" %}</h2>
    {% endif %}
{% endblock %}

{% block sidebar-panel1 %}
    {% has_perm "contact" "CAN_EDIT_CONTACT_SETTINGS" as can_edit_contact_settings %}
    {% if can_edit_contact_settings %}
        {% sidebarpanel "vertical_buttons" %}
            {% trans "Actions" %}
            {% body %}
            <a href="{% url 'contact_create' %}" class="{% get_css "sawbutton_sidebar" %}">
                {% trans "Create a new contact" %}
            </a>
        {% endsidebarpanel %}
    {% endif %}
{% endblock %}

{% block sidebar-panel-help %}
    {% has_perm "contact" "CAN_USE_CONTACT_FORM" as can_use_contact_form %}
    {% sidebarpanel "help" %}
        {% trans "Help" %}
        {% body %}
        <p>
            {% if can_use_contact_form %}
                {% trans "Select who you want to contact!" %}
            {% else %}
                {% trans "You do not have permission to use the built-in messaging system." %}
            {% endif %}
        </p>
    {% endsidebarpanel %}

{% endblock %}