{% extends "contact/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% load cssmap %}

{% block breadcrumb2 %}
    <li class="active">
        {% trans "Viewing Messages for " %}
        {{ contact.name }}
    </li>
{% endblock %}

{% block main_content %}
    <h1>{% trans "View messages" %}</h1>
    <div>
        {% for message in msgs %}
            <div {% if message.handled %}
                class="{% get_css "sawpanel_secondary" %}"
            {% else %}
                class="{% get_css "sawpanel_main" %}"
            {% endif %} >
                <div class="panel-heading">
                    <div class="row inherit-padding-left-right">
                        <div class="pull-left inherit-padding-left-right">
                            <h4>
                                {{ message.title }}
                            </h4>

                        </div>
                        <div class="pull-right inherit-padding-left-right">
                            {% if message.handled %}
                                <span class="glyphicon glyphicon-ok" data-toggle="tooltip"
                                      title="This message has been handled"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-remove" data-toggle="tooltip"
                                      title="This message has not been handled"></span>
                            {% endif %}
                        </div>

                    </div>
                </div>
                <div class="panel-body">
                    {{ message.message}}
                </div>
                <div class="panel-body">
                    <form action="{% url 'contact_delete_message' message.id %}" method="post"
                          onclick="return confirm('{% trans "Are you sure?" %}')">
                        {% csrf_token %}
                        {% buttons %}
                            <button type="submit" class="{% get_css "sawbutton_delete" %} pull-right">
                                {% trans "Delete this message" %}
                            </button>
                        {% endbuttons %}
                    </form>
                    {% if not message.handled %}
                        <form id="mark_as_handled_form_{{ message.id }}"
                              class="mark_as_handled_form"
                              action="{% url 'contact_mark_message_as_handled' %}" method="post">
                            {% csrf_token %}
                            {% buttons %}
                                <button type="submit" class="{% get_css "sawbutton_main" %} pull-right">
                                    {% trans "Mark as handled" %}
                                </button>
                            {% endbuttons %}
                        </form>
                    {% endif %}
                </div>
                <div class="panel-footer">
                    <div class="row inherit-padding-left-right">
                        <div class="pull-left">
                            {% trans "From" %} {{ message.from_person }} {{ message.from_email }}
                        </div>
                        <div class="pull-right text-right">
                            {{ message.date_and_time }}
                        </div>
                    </div>
                </div>
            </div>

        {% empty %}
            <p>{% trans "No messages found!" %}</p>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
    <script>
        $(".mark_as_handled_form").submit(function(event) {
            event.preventDefault()
            var form_id = event.target.getAttribute("id");
            var split_id = form_id.split("_");
            var message_id = split_id[split_id.length - 1];
            ajaxPost('{% url "contact_mark_message_as_handled" %}',
                    {'message_id': message_id},
                    function(event) {
                        $("#" + form_id).remove();

                    }
            );
        });


    </script>
{% endblock %}