{% extends "contact/base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block breadcrumb2 %}
    <li class="active">
        {% trans "View Messages" %}
    </li>
{% endblock %}

{% block main_content %}
    <h1>{% trans "View messages" %}</h1>
    <div>
        {% for message in msgs %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row inherit-padding-left-right">
                        <div class="pull-left inherit-padding-left-right">
                            <h4>
                                {{ message.title }}
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    {{ message.message}}
                    <form action="{% url 'contact_delete_message' message.id %}" method="post" onclick="return confirm('{% trans "Are you sure?" %}')">
                        {% csrf_token %}
                        {% buttons %}
                            <button type="submit" class="pull-right btn btn-danger">
                                {% trans "Delete this message" %}
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="row inherit-padding-left-right">
                        <div class="pull-left">
                            {% trans "From" %} {{ message.from_person }} {{ message.from_email }}
                        </div>
                        <div class="pull-right text-right">
                            {{ message.date_and_time }}
                        </div>
                    </div>
                </div>
            </div>

        {% empty %}
            <p>{% trans "No messages found!" %}</p>
        {% endfor %}
    </div>
{% endblock %}