{% extends "contact/base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block breadcrumb2 %}
    <li class="active">
        {% trans "Writing a Message to " %}
        {{ contact.name }}
    </li>
{% endblock %}

{% block main_content %}
    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% trans "Submit" %}
            </button>
        {% endbuttons %}
    </form>
{% endblock %}