{% extends 'members/base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load setvar %}

{% block main_content %}
    <div class="container">
        <h1>{% trans "Edit Payment purpose" %}</h1>
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% trans "Submit" %}
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}