{% extends 'members/base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load setvar %}
{% load sidemenu %}

{% block breadcrumb1 %}
    <li class="active">
        {% trans "Member Registry" %}
    </li>
{% endblock %}

{% block main_content %}
    <table class="table table-striped table-condensed">
        <tr>
            <th class="col-username">
                {% trans "User name" %}
                <div id="user-search-button" class="btn btn-link btn-xs">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
            </th>
            <th class="col-realname">{% trans "Real name" %}</th>
            <th class="col-applying">{% trans "Applying for membership" %}</th>
            <th class="col-member">{% trans "Member?" %}</th>
            <th class="col-enrollment hidden">{% trans "Enrolled" %}</th>
            <th class="col-graduation hidden">{% trans "Graduated" %}</th>
            <th class="col-groups">{% trans "Groups" %}</th>
            {% for column in extra_columns %}
                <th class="col-custom-{{ column.id }} hidden">
                    {{ column.name }}
                </th>
            {% endfor %}
            {% for purpose in payment_purposes %}
                <th class="col-payment-{{ purpose.id }} hidden">
                    {{ purpose.purpose }} ({% trans "expires" %})
                </th>
            {% endfor %}
            <th class="col-edit"> {% trans "Edit" %}</th>
            <th class="col-payments">{% trans "Payments" %}</th>
        </tr>
        {% for row in members_data %}
            {% setvar row.0 as member %}
            {% setvar row.1 as columns %}
            {% setvar row.2 as payments %}
            <tr>
                <td class="col-username">
                    {% if member.user_ext %}
                        <a href="{% url "users_view_profile" username=member.user_ext.user.username %}">
                            {{ member.user_ext.user.username }}
                        </a>
                    {% else %}
                        <span class="glyphicon glyphicon-remove"></span>
                    {% endif %}
                </td>
                <td class="col-realname">{{ member.get_full_name }}</td>
                <td class="col-applying">
                    {% if member.applying %}
                        <a href="{% url "members_confirm_membership" member_id=member.id %}">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </a>
                        <a href="{% url "members_deny_membership" member_id=member.id %}">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </a>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td class="col-member">
                    {% if member.confirmed %}
                        <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td class="col-enrollment hidden">
                    {% if member.enrollment_year %}
                        {{ member.enrollment_year }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td class="col-graduation hidden">
                    {% if member.graduation_year %}
                        {{ member.graduation_year }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td class="col-groups">
                    {{ member.user_ext.groups.0 }}
                </td>
                {% for column in columns %}
                    <td class="{{ column.0 }} hidden">
                        {{ column.1.content }}
                    </td>
                {% endfor %}
                {% for payment in payments %}
                    <td class="{{ payment.0 }} hidden">
                        {% if payment.1 %}
                            {{ payment.1.expires }}
                        {% endif %}
                    </td>
                {% endfor %}
                <td>
                    <a href="{% url "members_edit_member" member_id=member.id %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
                <td>
                    <a href="{% url "members_view_payments" member_id=member.id %}">
                        <span class="glyphicon glyphicon-euro"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block sidebar-panel1 %}
    {% sidebarpanel %}
        {% trans "Show columns" %}
        {% body %}
        <div class="btn-group-vertical btn-block">
            <div class="btn btn-primary btn-sm active col-checkbox"
                 id="col-username-selector"
                 data-toggle="button" aria-pressed="true">
                {% trans "Username" %}
            </div>
            <div class="btn btn-primary btn-sm active col-checkbox"
                 id="col-realname-selector"
                 data-toggle="button" aria-pressed="true">
                {% trans "Real Name" %}
            </div>
            <div class="btn btn-primary btn-sm active col-checkbox"
                 id="col-applying-selector"
                 data-toggle="button" aria-pressed="true">
                {% trans "Applying" %}
            </div>
            <div class="btn btn-primary btn-sm active col-checkbox"
                 id="col-member-selector"
                 data-toggle="button" aria-pressed="true">
                {% trans "Member" %}?
            </div>
            <div class="btn btn-primary btn-sm col-checkbox"
                 id="col-enrollment-selector"
                 data-toggle="button" aria-pressed="true">
                {% trans "Enrolled" %}?
            </div>
            <div class="btn btn-primary btn-sm col-checkbox"
                 id="col-graduation-selector"
                 data-toggle="button" aria-pressed="true">
                {% trans "Graduated" %}?
            </div>
            <div class="btn btn-primary btn-sm active col-checkbox"
                 id="col-groups-selector"
                 data-toggle="button" aria-pressed="true">{% trans "Groups" %}
            </div>
        </div>
        <div class="btn-group-vertical btn-block">
            {% for column in extra_columns %}
                <div class="btn btn-primary btn-sm col-checkbox"
                     id="col-custom-{{ column.id }}-selector">
                    {{ column.name }}
                </div>
            {% endfor %}
        </div>
        <div class="btn-group-vertical btn-block">
            {% for purpose in payment_purposes %}
                <div class="btn btn-primary btn-sm col-checkbox"
                     id="col-payment-{{ purpose.id }}-selector">
                    {{ purpose.purpose }}
                </div>
            {% endfor %}
        </div>
    {% endsidebarpanel %}
    {% sidebarpanel "vertical_buttons" %}
        {% trans "Actions" %}
        {% body %}
        <a href="{% url "members_add_member" %}" class="btn btn-primary" >
            {% trans "Add new member" %}
        </a>
        <a href="{% url "members_create_custom_field" %}"
           class="btn btn-primary" id="new-column-button">
            {% trans "Create new column" %}
        </a>

    {% endsidebarpanel %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(".col-checkbox").click(function() {
            var id = this.id;
            var col_name = id.substr(0, id.length-9);
            $("." + col_name).toggleClass("hidden");
        });

    </script>
{% endblock %}