{% extends 'news/base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load sawp %}

{% block main_content %}
    {% load navigator %}
    {% url "news_home" as news_url %}
    {% if article %}
        {% display_navigator news_url "News" article.get_absolute_url article.title %}
    {% else %}
        {% display_navigator news_url "News" "#" "New Article" %}
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {% bootstrap_form form %}

        <button type="submit" class="btn btn-primary">
            {% trans "Submit" %}
        </button>
    </form>
{% endblock %}

{% block sidebar %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            {% trans "Actions" %}
        </div>
        <div class="panel-body">
            {% if article %}
                <a href="{% url "news_delete_article" article_id=article.id %}" class="btn btn-danger btn-block">
                    {% trans "Delete" %}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}