{% extends 'news/base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load sawp %}
{% load cssmap %}
{% load sidemenu %}

{% block breadcrumb2 %}
    <li class="active">
        {% if article %}
            {% trans "Editing" %} {{ article.title }}
        {% else %}
            {% trans "New Article" %}
        {% endif %}
    </li>
{% endblock %}

{% block main_content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {% bootstrap_form form %}

        <button type="submit" class="{% get_css "sawbutton_save" %}">
            {% trans "Create Article" %}
        </button>
    </form>
{% endblock %}

{% block sidebar-panel1 %}
    {% if article %}
        {% sidebarpanel "vertical_buttons" %}
            {% trans "Actions" %}
            {% body %}
            <a href="{% url "news_delete_article" article_id=article.id %}" class="{% get_css "sawbutton_delete" %}">
                {% trans "Delete" %}
            </a>
        {% endsidebarpanel %}
    {% endif %}
{% endblock %}