{% extends 'news/base.html' %}
{% load i18n %}
{% load sawp %}
{% load thumbnail %}
{% load cssmap %}
{% load sidemenu %}

{% block breadcrumb1 %}
    {% if category %}
        <li class="active"><a href="{% url "news_home" %}">{% trans "News" %}</a></li>
    {% else %}
        <li class="active">{% trans "News" %}</li>
    {% endif %}
{% endblock %}

{% block breadcrumb2 %}
    {% if category %}
        <li class="active">{{ category.name }}</li>
    {% endif %}
{% endblock %}

{% block main_content %}
    {% for article in articles %}
        <div class="{% get_css "sawpanel_main" %}">
            <div class="panel-heading">
                <div class="row inherit-padding-left-right">
                    {% if article.picture %}
                        <div class="pull-left news-picture">
                            <img src="{{ article.picture|thumbnail_url:'panelheader' }}" class="img-responsive img-rounded" />
                        </div>
                    {% endif %}
                    <div class="pull-left inherit-padding-left-right">
                        <h4>
                            <a class="h3" href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                {{ article.get_summary | safe }}
            </div>
            <div class="panel-footer">
                <div class="row inherit-padding-left-right">
                    <div class="pull-left">
                        {% if article.comments.count > 0 %}
                            {{ article.comments.count }}
                        {% else %}
                            {% trans "No" %}
                        {% endif %}
                        {% if article.comments.count == 1 %}
                            {% trans "comment" %}
                        {% else %}
                            {% trans "comments" %}
                        {% endif %}
                    </div>
                    <div class="pull-right text-right">
                        {% trans "By" %} {{ article.author }}
                        {{ article.created_date }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if paginator.num_pages > 0 %}
        <nav>
            <ul class="pagination">
                {% if page.has_previous %}
                    {% if category %}
                        {% url "news_home" category_name=category.name page=page.previous_page_number as previous_url %}
                    {% else %}
                        {% url "news_home" page=page.previous_page_number as previous_url %}
                    {% endif %}
                {% endif %}
                <li {% if not page.has_previous %} class="disabled" {% endif %}>
                    <a href="{% if previous_url %} {{ previous_url  }} {% else %} # {% endif %}" aria-label="Previous">
                        <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                    </a>
                </li>
                {% for page_number in paginator.page_range %}
                    <li {% if page_number == page.number %} class="active" {% endif %}>
                        <a {% if category %}
                            href="{% url "news_home" category_name=category.name page=page_number %}"
                        {% else %}
                            href="{% url "news_home" page=page_number %}"
                        {% endif %}>
                            {{ page_number }}
                        </a>
                    </li>
                {% endfor %}
                <li {% if not page.has_next %} class="disabled" {% endif %}>
                    {% if page.has_next %}
                        {% if category %}
                            {% url "news_home" category_name=category.name page=page.next_page_number as next_url %}
                        {% else %}
                            {% url "news_home" page=page.next_page_number as next_url %}
                        {% endif %}
                    {% endif %}
                    <a href="{% if next_url %} {{ next_url  }} {% else %} # {% endif %}" aria-label="Next">
                        <span aria-hidden="true" class="glyphicon glyphicon-forward"></span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}

{% block sidebar %}
    <div class="{% get_css "sawpanel_sidebar" %}">
        <input type="text" class="form-control"
               placeholder="{% trans "Search" %}" name="search-input" id="search-input"/>
    </div>
    <div class="{% get_css "sawpanel_sidebar" %}">
        {% sidebarpanel "vertical_buttons" %}
            {% trans "Categories" %}
            {% body %}
            <a class="{% get_css "sawbutton_sidebar" %} {% if not category %}active{% endif %}"
               href="{% url "news_home" %}">
                {% trans "Show all" %}
            </a>
            {% for cat in categories %}
                <a class="{% get_css "sawbutton_sidebar" %} {% if cat.name == category.name %}active{% endif %}"
                   href="{{ cat.get_absolute_url }}">
                    {{ cat.name }}
                </a>
            {% endfor %}
        {% endsidebarpanel %}

        {% has_perm "news" "EDIT" as show_edit_panel %}
        {% if show_edit_panel %}
            {% sidebarpanel "vertical_buttons" %}
                {% trans "Actions" %}
                {% body %}
                <a class="{% get_css "sawbutton_sidebar" %}"
                   href="{% url "news_add_article" %}">
                    {% trans "Create new article" %}
                </a>
                <a class="{% get_css "sawbutton_sidebar" %}"
                   href="{% url "news_add_category" %}">
                    {% trans "Create new category" %}
                </a>
                {% if category %}
                    <a class="{% get_css "sawbutton_sidebar" %}"
                       href="{% url "news_edit_category" category_id=category.id %}">
                        {% trans "Edit Category" %}
                    </a>
                {% endif %}
            {% endsidebarpanel %}
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('#search-input').bind('keypress', function(e) {
            var code = e.keyCode || e.which;
            if (code == 13) { //Enter keycode
                var search_string = document.getElementById('search-input').value;
                if (search_string == "") {
                    {% if category %}
                        window.location.href = "{% url "news_home" category_name=category.name %}";
                    {% else %}
                        window.location.href = "{% url "news_home" %}";
                    {% endif %}
                } else {
                    var url = "";
                    {% if category %}
                        url = "{% url "news_search" category_name=category.name search_string="REPLACEME" %}";
                    {% else %}
                        url = "{% url "news_search" search_string="REPLACEME" %}";
                    {% endif %}

                    window.location.href = url.replace("REPLACEME", search_string);
                }
            }
        });
    </script>
{% endblock %}