{% extends 'news/base.html' %}
{% load i18n %}
{% load sawp %}
{% load cssmap %}
{% load sidemenu %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block breadcrumb2 %}
    <li class="active">{{ article.title }}</li>
{% endblock %}

{% block main_content %}
    <h2>{{ article.title }}</h2>
    <div>{{ article.text | safe }}</div>
{% endblock %}

{% block sidebar-panel1 %}

    {% sidebarpanel "vertical_buttons" %}
        {% trans "Categories" %}
        {% body %}
        <a class="{% get_css "sawbutton_sidebar" %} {% if not category %}active{% endif %}"
           href="{% url "news_home" %}">
            {% trans "Show all" %}
        </a>
        {% for cat in categories %}
            <a class="{% get_css "sawbutton_sidebar" %}"
               href="{% url "news_home" category_name=cat.name %}">
                {{ cat.name }}
            </a>
        {% endfor %}
    {% endsidebarpanel %}
{% endblock %}


{% block sidebar-panel2 %}
    {% sidebarpanel "vertical_buttons" %}
        {% trans "Actions" %}
        {% body %}
        <a class="{% get_css "sawbutton_sidebar" %}"
           href="{% url "news_edit_article" article.id %}">
            {% trans "Edit" %}
        </a>
    {% endsidebarpanel %}
{% endblock %}
