{% extends 'news/base.html' %}
{% load i18n %}
{% load sawp %}
{% load cssmap %}
{% load sidemenu %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block breadcrumb2 %}
    <li class="active">{{ article.title }}</li>
{% endblock %}

{% block main_content %}
    <div class="{% get_css "sawpanel_main" %}">
        <div class="panel-heading">
            <h2>{{ article.title }}</h2>
        </div>
        <div class="panel-body">
            {{ article.text | safe }}
        </div>
        <div class="panel-footer">
            <div class="row inherit-padding-left-right">
                <div class="pull-left">
                    {% if article.comments.count > 0 %}
                        {{ article.comments.count }}
                    {% else %}
                        {% trans "No" %}
                    {% endif %}
                    {% if article.comments.count == 1 %}
                        {% trans "comment" %}
                    {% else %}
                        {% trans "comments" %}
                    {% endif %}
                </div>
                <div class="pull-right text-right">
                    {% trans "By" %} {{ article.author }}
                    {{ article.created_date }}
                    {{ article.created_time }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar-panel1 %}

    {% sidebarpanel "vertical_buttons" %}
        {% trans "Categories" %}
        {% body %}
        <a class="{% get_css "sawbutton_sidebar" %} {% if not category %}active{% endif %}"
           href="{% url "news_home" %}">
            {% trans "Show all" %}
        </a>
        {% for cat in categories %}
            <a class="{% get_css "sawbutton_sidebar" %}"
               href="{% url "news_home" category_name=cat.name %}">
                {{ cat.name }}
            </a>
        {% endfor %}
    {% endsidebarpanel %}
{% endblock %}


{% block sidebar-panel2 %}
    {% can_view_object article as show_edit_buttons %}
    {% if show_edit_buttons %}
        {% sidebarpanel "vertical_buttons" %}
            {% trans "Actions" %}
            {% body %}
            <a class="{% get_css "sawbutton_sidebar" %}"
               href="{% url "news_edit_article" article.id %}">
                {% trans "Edit" %}
            </a>
        {% endsidebarpanel %}
    {% endif %}
{% endblock %}
