{% extends 'news/base.html' %}
{% load i18n %}
{% load sawp %}
{% load navigator %}

{% block main_content %}
    {% url "news_home" as news_url %}
    {% if category %}
        {% display_navigator news_url "News" category.get_absolute_url category.name %}
    {% else %}
        {% display_navigator news_url "News" %}
    {% endif %}
    {% for article in articles %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row inherit-padding-left-right">
                    {% if article.picture %}
                        <div class="pull-left news-picture">
                            <img src="{{ article.picture.url }}" class="img-responsive img-rounded" />
                        </div>
                    {% endif %}
                    <div class="pull-left inherit-padding-left-right">
                        <h4>
                            <a class="h3" href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                {{ article.get_summary | safe }}
            </div>
            <div class="panel-footer">
                <div class="row inherit-padding-left-right">
                    <div class="pull-left">
                        {% if article.comments.count > 0 %}
                            {{ article.comments.count }}
                        {% else %}
                            {% trans "No" %}
                        {% endif %}
                        {% if article.comments.count == 1 %}
                            {% trans "comment" %}
                        {% else %}
                            {% trans "comments" %}
                        {% endif %}
                    </div>
                    <div class="pull-right text-right">
                        {% trans "By" %} {{ article.author }}
                        {{ article.created_date }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            {% trans "search/sort" %}
        </div>
        <div class="panel-body">
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            {% trans "Categories" %}
        </div>
        <div class="panel-body">
            {% for cat in categories %}
                <a class="btn btn-default btn-block"
                   href="{% url "news_home" category_name=cat.name %}">
                    {{ cat.name }}
                </a>
            {% endfor %}
        </div>
    </div>
    {% has_perm "news" "EDIT" as show_edit_panel %}
    {% if show_edit_panel %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                {% trans "Actions" %}
            </div>
            <div class="panel-body">
                <a class="btn btn-default btn-block"
                   href="{% url "news_add_article" %}">
                    {% trans "Create new article" %}
                </a>
                <a class="btn btn-default btn-block"
                   href="{% url "news_add_category" %}">
                    {% trans "Create new category" %}
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}