{% extends "settings/base.html" %}
{% load i18n %}

{% block breadcrumb2 %}
    <li>
        <a href="{{ section.get_absolute_url }}">
            {% trans section.title %}
        </a>
    </li>
{% endblock %}

{% block breadcrumb3 %}
    <li class="active">
        <a href="{% url "menu_settings_select_menu" %}">
            {% trans "Menu Editor" %}
        </a>
    </li>
{% endblock %}

{% block main_content %}
    <h3>{% trans "Drag the items to reorder them" %}</h3>
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-primary">
                <div class="panel-heading">{{ menu.menu_name }}</div>
                <div class="panel-body">
                    {% for menu_html in form.rendered_menu_editors.values %}
                        {{ menu_html }}
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {% trans "Available items. Drag items here to remove them from the menu"  %}
                </div>
                <div class="panel-body">
                    {{ form.render_available_items }}
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <form action="{% url "menu_settings_edit_menu" menu.id %}" id="{{ form.get_form_id }}" method="post" onsubmit="{{ form.get_submit_js }}">
                {% csrf_token %}
                {{ form.render_javascript }}
                <div class="btn-group-vertical">
                    <button type="submit" value="Submit" class="btn btn-primary">
                        {% trans "Save" %}
                    </button>
                    <a href="{% url "menu_settings_select_menu" %}" class="btn btn-primary">{% trans "Back" %}</a>
                    {% if menu.created_by == "US" %}
                        <a href="{% url "menu_settings_delete_menu" menu_id=menu.id %}" class="btn btn-danger">{% trans "Delete" %}</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script>
        $(function() {
            $( ".menu-item-container" ).sortable({
                connectWith: ".connected-sort"
            }).disableSelection();
        });
    </script>
{% endblock %}