{% extends "base/base.html" %}
{% load i18n %}
{% load sidemenu %}
{% load cssmap %}

{% block breadcrumb1 %}
    <li>
        <a href="{% url "settings_main" %}">
            {% trans "Settings" %}
        </a>
    </li>
{% endblock %}

{% block breadcrumb2 %}
    <li>
        <a href="{{ section.get_absolute_url }}">
            {% trans section.title %}
        </a>
    </li>
{% endblock %}

{% block breadcrumb3 %}
    <li class="active">
        {% trans "Menu Editor" %}
    </li>
{% endblock %}

{% block main_content %}
    <div class="row">

        <div class="col-xs-12 col-sm-8">
            <div class="{% get_css "sawpanel_main" %}">
                <div class="panel-heading">
                    <div class="panel-title">
                        {% trans "Click on a menu item to edit it" %}
                    </div>
                </div>
                <div class="panel-body">
                    {% for item in menu_items %}
                        <a href="{% url "menu_settings_edit_menu_item" item_id=item.id %}"
                           class="btn {% if item.was_created_by_user %}
                                  btn-success {% else %}
                                  btn-primary {% endif %}"
                           title="{{ item.get_absolute_url }}">
                            {{ item.display_name }}
                            {% if item.submenu %}
                                <span class="caret"></span>
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="{% get_css "sawpanel_main" %}">
                <div class="panel-heading">
                    <div class="panel-title">
                        {% trans "Select a menu to edit." %}
                    </div>
                </div>
                <div class="panel-body">
                    <div class="btn-group-vertical btn-block">
                        {% for menu in menus %}
                            <a href="{% url "menu_settings_edit_menu" menu.id %}"
                               class="{% get_css "sawbutton_main" %} menu"
                               id="menu-{{ menu.id }}">
                                {{ menu.menu_name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar-panel1 %}
    {% sidebarpanel "vertical_buttons" %}
        {% trans "Actions" %}
        {% body %}
        <a href="{% url "menu_settings_new_menu" %}" class="{% get_css "sawbutton_sidebar" %}">
            {% trans "Create a new menu" %}
        </a>
        <a class="{% get_css "sawbutton_sidebar" %}" href="{% url "menu_settings_new_menu_item" %}">
            {% trans "Create a new menu item" %}
        </a>
    {% endsidebarpanel %}
{% endblock %}

{% block sidebar-panel2 %}
    {% sidebarpanel %}
        {% trans "Preview Menu" %}
        {% body %}
        <p>{% trans "Hover over a menu to see a preview of its items here" %}</p>
        {% for menu in menus %}
            <div id="menu-items-{{ menu.id }}" class="menu-preview hidden">
                <div class="btn-group-vertical btn-block">
                    {% for item in menu.items %}
                        <div class="btn btn-sm">{{ item.display_name }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endsidebarpanel %}
{% endblock %}

{% block sidebar-panel-help %}
    {% sidebarpanel "help" %}
        {% trans "Help" %}
        {% body %}
        {% trans "Pick a menu or menu item to edit it" %}.
        {% trans "Menu items are placed in menus" %}.
    {% endsidebarpanel %}
{% endblock %}

{% block scripts %}
    <script>
        $(".menu").mouseover(function(event) {
            var menu_id = event.target.getAttribute("id").split("-")[1];
            $(".menu-preview").addClass("hidden");
            $("#menu-items-" + menu_id).removeClass("hidden");

        });
    </script>
{% endblock %}