{% extends "info/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block breadcrumb2 %}
    <li class="active">
        {% if page %}
            {% trans "Editing" %}
            {{ page.title }}
        {% else %}
            {% trans "New Page" %}
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">
                {% trans "Submit" %}
            </button>
            {% if page %}
                <a href="{% url "pages_delete_page" page.id %}" class="btn btn-danger">
                    {% trans "Delete" %}
                </a>
            {% endif %}
        </form>
    </div>
{% endblock %}