{% extends "exams/base.html" %}

{% load i18n %}

{% block inner_content %}
    {% load navigator %}
    {% url "exams.views.main" as exams_url %}
    {% display_navigator exams_url "Exams" %}

    <h3>Courses</h3>
    {% for course in courses %}
        <p><a href="{% url 'exams_view_course' course.id %}">{{ course.name }}({{ course.get_exam_count }})</a></p>
    {% endfor %}
    <h3>Examinators</h3>
    {% for examinator in examinators %}
        <p><a href="{% url 'exams_view_examinator' examinator.id %}">{{ examinator.name }}({{ examinator.get_exam_count }})</a></p>
    {% endfor %}

    <br>
    <p><a href="{% url 'exams_add_exam' %}">{% trans "Add new exam" %}</a> |
        <a href="{% url 'exams_add_course' %}">{% trans "Add new course" %}</a> |
        <a href="{% url 'exams_add_examinator' %}">{% trans "Add new examinator" %}</a></p>
{% endblock %}