{% extends "exams/base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block breadcrumb2 %}
    <li>
        <a href="{{ exam.course_id.get_absolute_url }}">
        {{ exam.course_id.name }}
        </a>
    </li>
{% endblock %}

{% block breadcrumb3 %}
    <li class="active">
        {{ exam.exam_date |date:"Y-m-d"}}
    </li>
{% endblock %}

{% block main_content %}
    <h1>Exam</h1>
    <ul class="list-group">
        <li class="list-group-item">
            {% for examfile in images %}
                <a href="{{ examfile.image.url }}"><img  class="img-thumbnail" src="{% thumbnail examfile.image 100x100 crop=scale %}"/></a>
            {% endfor %}
        </li>
        <li class="list-group-item">{% trans "Name: " %}<a href="{% url 'exams_view_course' exam.course_id.id %}">{{ exam.course_id.name }}</a> </li>
        <li class="list-group-item">{% trans "Date: " %}{{ exam.exam_date|date:"Y-m-d" }}</li>
        <li class="list-group-item">
            {% if exam.examinator %}
                {% trans "Examinator: " %}<a href="{% url 'exams_view_examinator' exam.examinator.id %}">{{ exam.examinator.name }}</a>
            {% else %}
                {% trans "Examinator: Unknown examinator" %}
            {% endif %}
        </li>
    </ul>
{% endblock %}
{% block sidebar %}
    {% if show_edit_buttons %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">{% trans "Edit" %}</h2>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="{% url 'exams_edit_exam' exam.id %}">
                        <div class="btn list-group-item">{% trans "Edit this exam" %}</div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if show_add_buttons%}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">{% trans "Add" %}</h2>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="{% url 'exams_add_exam' %}">
                        <div class="btn list-group-item">{% trans "Add new exam" %}</div>
                    </a>
                    <a href="{% url 'exams_add_course' %}">
                        <div class="btn list-group-item">{% trans "Add new course" %}</div>
                    </a>
                    <a href="{% url 'exams_add_examinator' %}">
                        <div class="btn list-group-item">{% trans "Add new examinator" %}</div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}