{% extends "exams/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load sidemenu %}
{% load exams_templatetags %}

{% block breadcrumb2 %}
    <li class="active">
        {{ course.name }}
    </li>
{% endblock %}

{% block main_content %}
    <h1>{{ course.name }}</h1>
    <div class="list-group">
        {% for exam in exams %}
            <a class="list-group-item" href="{% url 'exams_view_exam' exam.id %}">
                {{ exam.exam_date|date:"Y-m-d" }} : {{ exam.examinator_with_default_values }}
            </a>
        {% empty %}
            <p>{% trans "No exams found!" %}</p>
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar-panel4 %}
    {% can_edit_course course as can_edit_course_ %}
    {% if can_edit_course_ %}
        {% sidebarpanel "vertical_buttons" %}
            {% trans "Actions" %}
            {% body %}
            <a class="btn btn-primary" href="{% url 'exams_edit_course' course.id %}">
                {% trans "Edit this course" %}
            </a>
            {% if not exams %}
                <form action="{% url 'exams_delete_course' course.id %}" method="post">
                    {% csrf_token %}
                    {% buttons %}
                        <button type="submit" class="btn btn-danger btn-block" onclick="return confirm('{% trans "Are you sure?" %}')">
                            {% trans "Remove this course" %}
                        </button>
                    {% endbuttons %}
                </form>
            {% endif %}
        {% endsidebarpanel %}
    {% endif %}
{% endblock%}