{% extends "exams/base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block inner_content %}
    {% load navigator %}
    {% url "exams.views.main" as exams_url %}
    {% display_navigator exams_url "Exams" course.get_absolute_url course.name%}
    <h1>{{ course.name }}</h1>
    {% for exam in exams %}
		<p><a href="/exams/exam/{{ exam.id }}">{{ exam.exam_date|date:"Y-m-d" }} : {{ exam.examinator_with_default_values }}</a></p>
    {% empty %}
        <p>{% trans "No exams found!" %}</p>
        <form action="{% url 'exams_delete_course' course.id %}" method="post">
            {% csrf_token %}
            {% buttons %}
                <button type="submit" class="btn btn-danger">
                    {% trans "Remove this course" %}
                </button>
            {% endbuttons %}
        </form>
    {% endfor %}

    <p><a href="/exams/edit_course/{{ course.id }}">{% trans "Edit this course"%}</a></p>
{% endblock %}