{% extends "base/base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Access Denied" %}: {{ request_path }}
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block main_content %}
    <h3>{% trans "Bad Request" %}</h3>
    <p>
        {% trans "Your request was invalid!" %}.
        {% trans "This should never happen, so please report this to your webmaster" %}!
        {% trans "Trying to hack? Know that you are being watched" %}...
    </p>
{% endblock %}

{% block sidebar %}{% endblock %}