{% load i18n %}

{% if user.is_authenticated %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><small>Logged on as</small> {{ user.username }}<span class="caret"></span></a>
    <ul class="dropdown-menu">
        {% for item in menuitems %}
            <li><a href="{{ item.url }}">
                {% trans item.display_name %}
            </a></li>
        {% endfor %}
        <li><a href="/users/logout/">Logout</a></li>
    </ul>
</li>
{% else %}
{# show login button #}
<li {% if active_tab == "Login" %} class="active" {% endif %}>
    <a href="/users/login/">Login</a>
</li>
{% endif %}