{% extends 'base/base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
    {% trans "Register" %}
{%  endblock %}

{% block menu %}
    {% load dynamic_menu %}
    {% display_menu "main_menu" "Register" %}
{% endblock %}

{% block main_content %}
    <h1>{% trans "Thanks for registering" %}!</h1>
    <p>
        {% trans "A confirmation email has been sent to" %}
        {{ user.email }}.
        {% trans "Can't find the email? Check your trash inbox!" %}
        {% trans "After confirming it you can apply for a members account" %}!

    </p>
    <p>
        {% trans "You can edit additional profile settings " %}
        <a href="{% url "users_settings_edit_user" %}">{% trans "here" %}</a>
    </p>
{% endblock %}