.install-header {
    width: 735px;
    margin-bottom: 50px;
}

.install-panel {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.install-content {
    display:box;
    box-orient:vertical;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
}