{% extends "events/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% load sidemenu %}
{% load cssmap %}

{% block breadcrumb2 %}
    <li class="active">
        {% if form.instance.pk %}
            {% trans "Editing" %}
            {{ form.instance.title }}
        {% else %}
            {% trans "New Event" %}
        {% endif %}
    </li>
{% endblock %}


{% block main_content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.media }}
        {% bootstrap_form form %}
        {% bootstrap_form form_items %}
        {% buttons %}
            <button type="submit" class="{% get_css "sawbutton_save" %}">
                {% trans "Submit" %}
            </button>
        {% endbuttons %}
    </form>

{% endblock %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static "css/base/jquery.datetimepicker.css" %}"/>
    <script src="{% static "js/base/jquery.datetimepicker.js" %}"></script>
    <script type="text/javascript">
        $(function () {

            //Set up datetimepicker
            $( "#{{ form.signup_start.id_for_label }}" ).datetimepicker({
                dayOfWeekStart: 1,
                format: "d.n.Y H:i"
            });
            $( "#{{ form.signup_deadline.id_for_label }}" ).datetimepicker({
                dayOfWeekStart: 1,
                format: "d.n.Y H:i"
            });
            $( "#{{ form.start.id_for_label }}" ).datetimepicker({
                dayOfWeekStart: 1,
                format: "d.n.Y H:i"
            });
            $( "#{{ form.stop.id_for_label }}" ).datetimepicker({
                dayOfWeekStart: 1,
                format: "d.n.Y H:i"
            });
        })
    </script>
{% endblock %}

{% block extrabuttons_in_panel5 %}
    {% if form.instance.pk %}
        <form action="{% url 'events_delete_event' form.instance.pk %}" method="post" onclick="return confirm('{% trans "Are you sure?" %}')">
            {% csrf_token %}
            <button type="submit" class="{% get_css "sawbutton_delete" %} btn-block">
                {% trans "Remove this event" %}
            </button>
        </form>
    {% endif %}
{% endblock %}

{% block sidebar-panel-help %}
    {% sidebarpanel "help" %}
        {% trans "Help" %}
        {% body %}
        <p>{% trans "This is where you create events." %}</p>
        <p>{% trans "All fields except for event items are required by default." %}</p>
    {% endsidebarpanel %}
{% endblock %}