{% extends "events/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load static %}

{% block breadcrumb2 %}
    <li class="active">
        {% if form.instance.pk %}
            {% trans "Editing" %}
            {{ form.instance.title }}
        {% else %}
            {% trans "New Event" %}
        {% endif %}
    </li>
{% endblock %}


{% block main_content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.media }}
        {% bootstrap_form form %}
        {% bootstrap_form form_items %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% trans "Submit" %}
            </button>
        {% endbuttons %}
    </form>

{% endblock %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static "css/base/jquery.datetimepicker.css" %}"/>
    <script src="{% static "js/base/jquery.datetimepicker.js" %}"></script>
    <script type="text/javascript">
        $(function () {

            //Set up datetimepicker
            $( "#{{ form.signup_start.id_for_label }}" ).datetimepicker({
                dayOfWeekStart: 1,
                format: "d.n.Y H:i"
            });
            $( "#{{ form.signup_deadline.id_for_label }}" ).datetimepicker({
                dayOfWeekStart: 1,
                format: "d.n.Y H:i"
            });
            $( "#{{ form.start.id_for_label }}" ).datetimepicker({
                dayOfWeekStart: 1,
                format: "d.n.Y H:i"
            });
            $( "#{{ form.stop.id_for_label }}" ).datetimepicker({
                dayOfWeekStart: 1,
                format: "d.n.Y H:i"
            });
        })
    </script>
{% endblock %}



{# Because we hid panel 4 in base template we still need to rewrite everything #}
{% block sidebar-panel4 %}
    {% if form.instance.pk %}
        <div class="panel-heading">
            <div class="panel-title">
                {% block sidebar-panel4-header %}{% trans "Delete" %}{% endblock %}
            </div>
        </div>
        <div class="panel-body">
            {% block sidebar-panel4-body%}
                <div class="btn-group-vertical btn-block" >
                    {# FIXME this button looks odd compared to the others #}
                    <form action="{% url 'events_delete_event' form.instance.pk %}" method="post" onclick="return confirm('{% trans "Are you sure?" %}')">
                        {% csrf_token %}
                        {% buttons %}
                            <button type="submit" class="btn btn-danger">
                                {% trans "Remove this event" %}
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}


{% block sidebar-panel-help-body%}
    <p>{% trans "This is where you create events." %}</p>
    <p>{% trans "Each field except event items (eitems) is required by default." %}</p>
{% endblock %}