{% extends 'base/base.html' %}
{% load i18n %}
{% load sawp %}

{% block title %}
    {% trans "Events" %}
{%  endblock %}

{% block menu %}
    {% load dynamic_menu %}
    {% display_menu "main_menu" "Events" %}
{% endblock %}

{% block breadcrumb1 %}
    <li><a href="{% url "events_home" %}">
        {% trans "Events" %}
    </a></li>
{% endblock %}

{% block sidebar-panel1 %}{% endblock %}
{% block sidebar-panel2 %}{% endblock %}
{% block sidebar-panel3 %}{% endblock %}
{% block sidebar-panel4 %}{% endblock %} {# Hide empty panels #}

{% has_perm "events" "CAN_CREATE_EVENTS" as can_create_events %}
{% if can_create_events%}
    {% block sidebar-panel5-header %}
        {% trans "Add" %}
    {% endblock %}
    {% block sidebar-panel5-body %}
        <div class="btn-group-vertical btn-block" >
            <a href="{% url 'events_add_event' %}" class="btn btn-primary">
                {% trans "Add new event" %}
            </a>
        </div>
    {% endblock %}
    {% block sidebar-panel6-header %}
        {% trans "Settings" %}
    {% endblock %}
    {% block sidebar-panel6-body %}
        <div class="btn-group-vertical btn-block" >
            <a href="{% url 'events_list_eventitems' %}" class="btn btn-primary">
                {% trans "Configure event items" %}
            </a>
        </div>
    {% endblock %}

{% endif %}


{% block sidebar-panel7 %}{% endblock %}
{% block sidebar-panel8 %}{% endblock %}
{% block sidebar-panel9 %}{% endblock %}