{% extends 'base/base.html' %}
{% load i18n %}
{% load sawp %}
{% load sidemenu %}
{% load cssmap %}

{% block title %}
    {% trans "Events" %}
{%  endblock %}

{% block menu %}
    {% load dynamic_menu %}
    {% display_menu "main_menu" "Events" %}
{% endblock %}

{% block breadcrumb1 %}
    <li><a href="{% url "events_home" %}">
        {% trans "Events" %}
    </a></li>
{% endblock %}



{% block sidebar-panel5 %}
    {% has_perm "events" "CAN_CREATE_EVENTS" as can_create_events %}
    {% if can_create_events%}
        {% sidebarpanel "vertical_buttons" %}
            {% trans "Actions" %}
            {% body %}
            {% block extrabuttons_in_panel5 %}{% endblock %}
            {% block add_new_event %}
                <a href="{% url 'events_add_event' %}" class="{% get_css "sawbutton_sidebar" %}">
                    {% trans "Add new event" %}
                </a>
            {% endblock %}
            {% block configure_event_items %}
                <a href="{% url 'events_list_eventitems' %}" class="{% get_css "sawbutton_sidebar" %}">
                    {% trans "Configure event items" %}
                </a>
            {% endblock %}
        {% endsidebarpanel %}
    {% endif %}
{% endblock%}




