{% extends "events/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load sawp %}

{% block breadcrumb2 %}
    <li class="active">
    <a href="{% url "events_list_eventitems" %}">{% trans "List items " %}</a>
    </li>
{% endblock %}

{% block breadcrumb3 %}
    <li class="inactive">
        {% if form.instance.pk %}
            {% trans "Edit event item" %}
        {% else %}
            {% trans "Add event item" %}
        {% endif %}
    </li>
{% endblock %}

{% block main_content %}

    <form action="" method="post">{% csrf_token %}

        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="btn btn-confirm">
                {% if form.instance.pk %}
                    {% trans "Update" %}
                {% else %}
                    {% trans "Add" %}
                {% endif %}
            </button>
        {% endbuttons %}
    </form>

{% endblock %}

{% block helppanel %}
    <div class= "panel-heading">
        <h2 class="panel-title" data-toggle="collapse" data-target="#helptext">
            {% trans "Help" %}
            <span class="glyphicon caret pull-right"></span>
        </h2>
    </div>
    <div id="helptext" class="panel-collapse collapse helptext-collapse">
        <div class="panel-body">
            <p>{% trans "This is where you create custom event items for later use." %}</p>
            <p>{% trans "Don't worry, you can edit event items later." %}</p>
        </div>
    </div>
{% endblock %}