{% extends "events/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load sawp %}

{% block breadcrumb2 %}
    <li class="active">
    <a href="{% url "events_list_eventitems" %}">{% trans "List items " %}</a>
    </li>
{% endblock %}

{% block main_content %}

    <ul class="list-group">
        {% for eitem in object_list %}
            <li class="list-item">
                {{ eitem.name }}
                <a href="{% url "events_edit_eventitem" eitem.id %}">Edit</a>
                <a href="{% url "events_delete_eventitem" eitem.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block sidebar %}
    {% has_perm "events" "CAN_CREATE_EVENTS" as can_create_events %}
    {% if can_create_events%}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">{% trans "Add" %}</h2>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="{% url 'events_add_eventitem' %}">
                        <div class="btn list-group-item">{% trans "Add new event item" %}</div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}