{% extends "events/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load sawp %}
{% load thumbnail %}

{% block breadcrumb2 %}
    <li class="active">
        {{ event.title }}
    </li>
{% endblock %}

{% block main_content %}
    <h1>{{ event }}</h1>
    <div class="list-group">
        <ul class="list-group">
            <li class="list-group-item">
                {{ event.text }}
            </li>
            <li class="list-group-item">{% trans "Deadline for signing up: " %}{{ event.start|date:"Y-m-d H:i" }}</li>
            <li class="list-group-item">{% trans "Start date: " %}{{ event.start|date:"Y-m-d H:i" }}</li>
            <li class="list-group-item">{% trans "Stop date: " %}{{ event.stop|date:"Y-m-d H:i" }}</li>
        </ul>
    </div>
    {% if signupform %}
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form signupform %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% trans "Submit" %}
                </button>
            {% endbuttons %}
        </form>
    {% endif %}

    {% has_perm "events" "CAN_VIEW_SIGNUP_INFO" as can_view_signup_info %}

    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>{% trans "Signed up" %}</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Association" %}</th>
                {% if can_view_signup_info %}
                    <th>{% trans "Email" %}</th>
                    <th>{% trans "Diet" %}</th>
                    <th>{% trans "Other" %}</th>
                    <th>{% trans "Matricle" %}</th>
                    <th>{% trans "User account" %}</th>
                    <th>{% trans "Delete" %}</th>
                {% endif %}
            </tr>
            {% for signup in signups %}
                <tr>
                    <td>{{ signup.created|date:"Y-m-d H:i" }}</td>
                    <td>{{ signup.name }}</td>
                    <td>{{ signup.association }}</td>
                    {% if can_view_signup_info %}
                        <td>{{ signup.email }}</td>
                        <td>{{ signup.diet }}</td>
                        <td>{{ signup.other }}</td>
                        <td>{{ signup.matricle }}</td>
                        <td>{{ signup.user }}</td>
                        <td>
                            <form action="{% url 'events_delete_event_signup' signup.id %}" method="post" onclick="return confirm('{% trans "Are you sure?" %}')">
                                {% csrf_token %}
                                {% buttons %}
                                    <button type="submit" class="btn btn-danger">
                                        {% trans "Delete" %}
                                    </button>
                                {% endbuttons %}
                            </form>
                        </td>
                    {% endif %}
                </tr>

            {% empty %}

            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}
{% block sidebar %}
    {% has_perm "events" "CAN_CREATE_EVENTS" as can_create_events %}
    {% if can_create_events%}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">{% trans "Edit" %}</h2>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="{% url 'events_edit_event' event.id%}">
                        <div class="btn list-group-item">{% trans "Edit this event" %}</div>
                    </a>
                </div>
            </div>
            <div class="panel-heading">
                <h2 class="panel-title">{% trans "Add" %}</h2>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="{% url 'events_add_event' %}">
                        <div class="btn list-group-item">{% trans "Add new event" %}</div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}