{% extends "events/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load sawp %}
{% load thumbnail %}

{% block breadcrumb2 %}
    <li class="active">
        <a href="{{ object.event.get_absolute_url }}">{{ object.event.title }}</a>
    </li>
{% endblock %}
{% block breadcrumb3 %}
    <li class="inactive">
        {% trans "Unregister" %}
    </li>
{% endblock %}

{% block main_content %}

    <form action="" method="post">{% csrf_token %}
        <p>{% trans "Are you sure you want to unregister from event "%}"{{ object.event.title }}"?</p>
                {% buttons %}
            <button type="submit" class="btn btn-danger">
                {% trans "Unregister" %}
            </button>
        {% endbuttons %}
    </form>

{% endblock %}

{% block sidebar %}{% endblock %}