{% extends "events/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load sawp %}
{% load sidemenu %}

{% block breadcrumb2 %}
    <li class="active">
        <a href="{% url "events_list_eventitems" %}">{% trans "List items " %}</a>
    </li>
{% endblock %}

{% block main_content %}
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Required" %}</th>
                <th>{% trans "Action" %}</th>
            </tr>
            {% for eitem in object_list %}
                <tr>
                    <td>
                        {{ eitem.name }}
                    </td>
                    <td>
                        {{ eitem.get_type_display }}
                    </td>
                    <td>
                        {{ eitem.required }}
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{% url "events_edit_eventitem" eitem.id %}">Edit</a>
                        <a class="btn btn-danger" href="{% url "events_delete_eventitem" eitem.id %}">Delete</a>
                    </td>
                </tr>
            {% empty %}

                <tr>
                    <td>
                        {% trans "No event items added yet!" %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}



{% block sidebar-panel5 %}
        {% sidebarpanel "vertical_buttons" %}
            {% trans "Add" %}
            {% body %}
            <a href="{% url 'events_add_eventitem' %}" class="btn btn-primary">
            {% trans "Add new event item" %}
        </a>
        {% endsidebarpanel %}
{% endblock%}

{% block sidebar-panel6 %}
{% endblock %}

{% block sidebar-panel-help %}
    {% sidebarpanel "help" %}
        {% trans "Help" %}
        {% body %}
        <p>{% trans "This is where you create custom event items" %}</p>
    {% endsidebarpanel %}
{% endblock %}


