{% extends "events/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load sawp %}

{% block breadcrumb2 %}
    <li class="active">
    <a href="{% url "events_list_eventitems" %}">{% trans "List items " %}</a>
    </li>
{% endblock %}

{% block breadcrumb3 %}
    <li class="inactive">
        {% trans "Delete " %}
    </li>
{% endblock %}

{% block main_content %}

    <form action="" method="post">
        {% csrf_token %}
        <p>{% trans "Are you sure you want to delete "%}"{{ object.name }}"?</p>
        {% buttons %}
            <button type="submit" class="btn btn-danger">
                {% trans "Delete" %}
            </button>
        {% endbuttons %}
    </form>

{% endblock %}