{% extends "events/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load sawp %}
{% load sidemenu %}

{% block breadcrumb1 %}
    <li class="active">
        {% trans "Events" %}
    </li>
{% endblock %}

{% block main_content %}
    <h3>Events</h3>
    <div class="list-group">
        {% for event in events %}
            <a class="list-group-item" href="{{ event.get_absolute_url }}">
                {{ event.start|date:"Y-m-d" }} {{ event.title }}
            </a>
        {% empty %}
            <p>{% trans "No events found!" %}</p>
        {% endfor %}
    </div>

{% endblock %}

{% block sidebar-panel-help %}
    {% sidebarpanel "help" %}
        {% trans "Help" %}
        {% body %}
        <p>{% trans "here you can see available events." %}</p>
        <p>{% trans "Event items are custom fields for signup. They can make your event easier to manage." %}</p>
    {% endsidebarpanel %}
{% endblock %}