{% extends "events/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load sawp %}

{% block breadcrumb1 %}
    <li class="active">
        {% trans "Events" %}
    </li>
{% endblock %}

{% block main_content %}
    <h3>Events</h3>
    <div class="list-group">
        {% for event in events %}
            <a class="list-group-item" href="{{ event.get_absolute_url }}">
                {{ event.start|date:"Y-m-d" }} {{ event.title }}
            </a>
        {% empty %}
            <p>{% trans "No events found!" %}</p>
        {% endfor %}
    </div>
{% endblock %}