{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{%  trans 'Installation Wizard' %}</title>
    <!-- viewport for Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="{% static "css/themes/bootstrap.min.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "css/install/install.css" %}" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>

<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="panel panel-default">
                <div class="install-header">
                    <h2>{% trans 'StudAssWeb Installation Wizard' %}</h2>
                    <ul class="nav nav-pills nav-justified">
                        {% block progress_bar %}
                        {% endblock %}
                    </ul>
                </div>
                <div class="panel-body">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>


</div>

<!-- Placed last to improve loading times -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static "js/bootstrap.min.js" %}"></script>

{% block scripts %}{% endblock %}

</body>

</body>
</html>