{% load i18n %}
{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{%  trans 'Installation Wizard' %}</title>
    <!-- viewport for Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "css/base/base.css" %}" rel="stylesheet" />
    <link type="text/css" href="{% static "css/install/install.css" %}" rel="stylesheet">
</head>
<body>

<div class="panel panel-default install-panel">
    <div class="container text-center">
        <div class="install-header">
            <h2>{% trans 'StudAssWeb Installation Wizard' %}</h2>
            <ul class="nav nav-pills nav-justified">
                {% for stage in stages %}
                    <li {% if forloop.counter0 == current_stage_index %} class="active" {% endif %}>
                        <a>
                            {{ stage.1 }}
                            {% if forloop.counter0 < current_stage_index %}
                                <span class="glyphicon glyphicon-ok"></span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="install-content">
        {% if current_stage.0 == 'welcome' %}
            {% if form %}
                <form action="{{ current_url }}" method="post" class=form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Next
                    </button>
                {% endbuttons %}
                </form>
            {% else %}
                <h2>{% trans 'Welcome to the StudAssWeb Installation Wizard' %}!</h2>
                <a href="association">Get Started</a>
            {% endif %}

        {% elif current_stage.0 == 'finished' %}
            <h1>{% trans 'Congratulations!' %}</h1>
            <p> {% trans 'You have successfully set up your own website.' %}!</p>
            <a href="/"><p>{% trans 'Click here to check it out!' %}</p></a>
        {% else %}
            <form action="{{ current_url }}" method="post" class=form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" value="Submit" />
            </form>
        {% endif %}
        {% if previous %}
            <ul class="pager left">
                <li><a href="{{ previous }}">{% trans "Previous" %}</a></li>
            </ul>
        {% endif %}
    </div>

</div>

<!-- Placed last to improve loading times -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static "js/bootstrap.min.js" %}"></script>

</body>
</html>