{% extends "install/base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}


{% block progress_bar %}
    {% load install_progress_bar %}
    {% display_progress_bar "Finished" %}
{% endblock %}

{% block content %}
    <div class="install-content">

        <h1>{% trans 'Congratulations!' %}</h1>
        <p> {% trans 'You have successfully set up your own website' %}!</p>
        <p> {% trans 'Please restart the server if you made any changes to the modules or if this was the first time you ran the installation wizard' %}!</p>
        <a href="/"><p>{% trans 'Click here to check it out!' %}</p></a>

        <a href="menu"><button type="button" class="btn btn-primary">
            Previous
        </button></a>
    </div>
{% endblock %}
