{% extends "install/base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}


{% block progress_bar %}
    {% for stage in stages %}
        <li {% if forloop.counter0 == current_stage_index %} class="active" {% endif %}>
            <a>
                {{ stage.1 }}
                {% if forloop.counter0 < current_stage_index %}
                    <span class="glyphicon glyphicon-ok"></span>
                {% endif %}
            </a>
        </li>
    {% endfor %}
{% endblock %}


{% block content %}
    <div class="install-content">

        <div class="panel panel-default">
            <div class="panel-heading">{% trans "Drag menu items here to add them" %}!</div>
            <div class="panel-body">
                <div class="btn-toolbar">
                    <div id="install-menu-container" class="btn-group connected-sort">
                        <div id="menu-item-test1" class="btn btn-primary install-menu-item">Test</div>
                    </div>

                    <div class="btn-group">
                        <div class="btn btn-primary disabled">
                            Login
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                {% trans "Available menu items" %}
            </div>
            <div class="panel-body">

                <ul id="install-available-container" class="btn-group connected-sort">
                    <li id="menu-item-test2" class="btn btn-primary install-menu-item">Test2</li>
                    {% for menu_item in menu_items %}
                        <li id="menu-item-{{ menu_item.id }}" class="btn btn-primary install-menu-item">
                            {{ menu_item.display_name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <form id="install-menu-form" action="menu" method="post" class=form">
                {% csrf_token %}

                <a href="modules">
                    <button type="button" class="btn btn-primary">
                        {% trans "Previous" %}
                    </button>
                </a>
                <button type="submit" value="Submit" class="btn btn-primary">
                    {% trans "Next" %}
                </button>
            </form>
        </div>
    </div>
{% endblock %}


{% block scripts %}

<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script>

$(function() {
    $('#install-menu-form').submit(function() {
        updateHiddenFormFields();
        return true; // return false to cancel form action
    });
});

function updateHiddenFormFields() {
    var old_fields = document.getElementsByClassName("install-hidden-field");
    for (field in old_fields) {
        field.parentNode.removeChild(field);
    }
    new_menu_items = document.getElementById("install-menu-container").childNodes;
    var i = 0;
    for (menu_item in new_menu_items) {
        add_hidden_input(menu_item.innerHTML, i);
        i++;
    }
}

function add_hidden_input(menu_id, order) {
    var input_field = document.createElement("input");
    input_field.setAttribute("name", menu_id);
    input_field.setAttribute("value", order);
    input_field.setAttribute("type", "hidden");
    input_field.setAttribute("class","install-hidden-field");
    var form = document.getElementById("install-menu-form");
    form.appendChild(input_field);
}

$(function() {
    $( "#install-menu-container, #install-available-container" ).sortable({
        connectWith: ".connected-sort"
    }).disableSelection();
});

$(".install-menu-item").click(function(event) {
    if (event.target.parentNode.id == "install-menu-container") {
        document.getElementById("install-menu-container").removeChild(event.target);
        document.getElementById("install-available-container").appendChild(event.target);
    } else {
        document.getElementById("install-menu-container").appendChild(event.target);
        document.getElementById("install-available-container").removeChild(event.target);
    }
});

</script>
{% endblock %}