{% extends "install/base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}


{% block progress_bar %}
    {% load install_progress_bar %}
    {% display_progress_bar "Modules" %}
{% endblock %}

{% block content %}
    <div class="well">
        <p>{% trans "It's time to choose what functionality you want to have on your site" %}!</p>

            {% trans "Hard to decide? You can go back to this later on once you have familiarized yourself with the different modules" %}.
            {% trans "Most modules have some initial content that you can look at to get a feel for the module" %}.
        
    </div>
    <form action="{% url "install.views.modules" %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <a href="{% url "install.views.association" %}"><button type="button" class="btn btn-primary">
            {% trans "Previous" %}
        </button></a>
        <button type="submit" value="Submit" class="btn btn-primary" >
            {% trans "Next" %}
        </button>
    </form>
{% endblock %}
