{% extends "install/base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}


{% block progress_bar %}
    {% load install_progress_bar %}
    {% display_progress_bar "Modules" %}
{% endblock %}

{% block content %}
    <div class="install-content">
        <form action="{% url "install.views.modules" %}" method="post" class=form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <a href="{% url "install.views.association" %}"><button type="button" class="btn btn-primary">
                Previous
            </button></a>
            <button type="submit" value="Submit" class="btn btn-primary" >
                Next
            </button>
        </form>
    </div>
{% endblock %}
