{% extends "install/base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}


{% block progress_bar %}
    {% load install_progress_bar %}
    {% display_progress_bar "Welcome" %}
{% endblock %}

{% block content %}
        <h3>{% trans 'Welcome to the StudAssWeb Installation Wizard' %}!</h3>

    {% if form %}
        <p>{% trans "Please log in to use this feature" %}.</p>
        <form action="{% url "install.views.welcome" %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% trans "Login" %}
                </button>
            {% endbuttons %}
        </form>
    {% else %}
        <a href="{% url "install.views.association" %}">
            <button type="button" class="btn btn-primary" >
                {% trans 'Click here to get started' %}
            </button>
        </a>
    {% endif %}
{% endblock %}
