{% extends "install/base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}


{% block progress_bar %}
    {% load install_progress_bar %}
    {% display_progress_bar "Welcome" %}
{% endblock %}

{% block content %}
    <div class="install-content">
    {% if form %}
        <p>Please log on to use this feature.</p>
        <form action="{% url "install.views.welcome" %}" method="post" class=form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Login
                </button>
            {% endbuttons %}
        </form>
    {% else %}
        <h2>{% trans 'Welcome to the StudAssWeb Installation Wizard' %}!</h2>
        <a href="{% url "install.views.association" %}">
            <button type="button" class="btn btn-primary" >
                {% trans 'Get Started' %}
            </button>
        </a>
    {% endif %}
    </div>
{% endblock %}
