{% extends "info/base.html" %}

{% load i18n %}
{% load sawp %}
{% load bootstrap3 %}

{% block main_content %}
    {% load navigator %}
    {% url "info.views.main" as info_url %}
    {% display_navigator info_url "Info" "#" "Delete" %}
    {% if form %}
        <p>{% trans "Are you sure you want to delete " %}
            {% if page %}
                {% trans "the page" %}
                "{{ page.title }}"
            {% else %}
                {% trans "the category" %}
                "{{ category.name }}"
            {% endif %}
            ?
        </p>
        <form action="{% if page %}
            {% url "info_delete_page" page_id=page.id %}
        {% else %}
            {% url "info_delete_category" category_id=category.id %}
        {% endif %}" method="post">

            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">
                {% trans "Confirm" %}
            </button>
        </form>
    {% else %}
        {% trans "Your model has been deleted successfully" %}!
    {% endif %}

{% endblock %}