{% extends "info/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block inner_content %}
    {% load navigator %}
    {% url "info.views.main" as info_url %}
    {% if category %}
        {% display_navigator info_url "Info" category.get_absolute_url category.name %}
    {% else %}
        {% display_navigator info_url "Info" "#" "New Category" %}
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">
            {% trans "Submit" %}
        </button>
    </form>
    {% if category %}
        <a href="{% url "info_delete_page" page.id %}">
            <div class="btn btn-danger">
                {% trans "Delete" %}
            </div>
        </a>
    {% endif %}
{% endblock %}