{% extends "info/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block inner_content %}
    {% load navigator %}
    {% url "info.views.main" as info_url %}
    {% if category %}
        {% display_navigator info_url "Info" category.get_absolute_url category.name %}
    {% else %}
        {% display_navigator info_url "Info" "#" "New Category" %}
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">
            {% trans "Submit" %}
        </button>
        {% if category %}
            <a href="{% url "info_delete_category" category_id=category.id %}" class="btn btn-danger">
                {% trans "Delete" %}
            </a>
        {% endif %}
    </form>

{% endblock %}