{% extends "info/base.html" %}

{% block inner_content %}
    <p>herro this is info</p>
    <div class="list-group">
        {% for category in categories %}
            <a href="{{ category.get_absolute_url}}">
                {{ category.name }}
            </a>
        {% endfor %}
    </div>
    {% load sawp %}
    {% has_perm "can_edit_info_pages" as show_create_button %}
    {% if show_create_button %}
        <p>Create a new category <a href="{% url "info.views.edit_category" %}">here</a>.</p>
    {% endif %}
{% endblock %}