{% extends "info/base.html" %}

{% block inner_content %}
    {% load navigator %}
    {% url "info.views.main" as info_url %}
    {% display_navigator info_url "Info" category.get_absolute_url category.name page.get_absolute_url page.title %}
    <div class="col-md-9">
        <div class="row">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="row">
            {{ page.text | safe}}
        </div>
    </div>
    {% if category.pages %}
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ category.name }}</h2>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        {% for page in category.pages %}
                            <a href="{{ page.get_absolute_url}}" class="list-group-item">
                                {{ page.title }}
                            </a>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}