{% load i18n %}
{% load static %}
{% load solo_tags %}
{% get_solo 'base.SiteConfiguration' as site_config %}
<!DOCTYPE html >
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<!-- viewport for Bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% if site_config.bootstrap_theme_url %}
	    <link href="{% static site_config.bootstrap_theme_url %}" rel="stylesheet">
        <link href="{% static site_config.bootstrap_theme_mod_url %}" rel="stylesheet">
    {% else %}
	    <link href="{% static "css/themes/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "css/themes/bootstrap-theme.min.css" %}" rel="stylesheet">
	{% endif %}
    <link rel="stylesheet" type="text/css" href="{% static "css/base/base.css" %}" />
    {% block head %}
    {% endblock %}
</head>

<body>
{% block content %}
    {% load dynamic_menu %}
    {% display_menu "main_menu" "" %}
{% endblock content %}


<div class="container footer"><span class="glyphicon glyphicon-copyright-mark"></span> {% now "Y" %} {{ site_config.association_name }} </div>


<!-- Placed last to improve loading times -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/base/base.js" %}"></script>
{% block scripts %}{% endblock %}
</body>



</html>