{% extends "base/base.html" %}

{% block breadcrumb %}
{% endblock %}

{% block main_content %}
    <h1>Change Log</h1>
    <h2>{{ SAW_VERSION }} (experimental) </h2>
    <ul>
        <li>
            Fixed several non-serious permission issues in the Pages module.
        </li>
    </ul>
    <h2>1.0.1</h2>
    <p>Released 2016-09-28.</p>
    <ul>
        <li>
            Added this changelog.
        </li>
        <li>
            Added realtime preview to the css component editor.
        </li>
        <li>
            News articles now follow the standard layout, and you can see the author, date and time when it was created.
        </li>
    </ul>
    <h2>1.0</h2>
    <p>Released 2016-09-27.</p>
    <p>Changes weren't tracked until this point.</p>
{% endblock %}